:root {
    --readerBg: #272b30;
    --sidebarCol: #3a3f44;
    --accentCol: #ce2e51aa;
    --icoCol: #eee;
    --textCol: rgb(255, 255, 255);
    --sidebarColDark: #2b2f33;
    --prevCol: #34393d;
    --accentSelected: #ca4360;
    --accentSelectedInvert: hsl(186, 79%, 66%);
    --sidebarColFocus: rgba(0, 0, 0, 0.3);
    --borderColor: rgba(0, 0, 0, 0.7);
    --shadowBoxColor: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
    --blackFlag: rgba(0, 0, 0, 0.3);
    --blackLight: rgb(52, 52, 52);
    /* One time use */
    --rdrBorderL: 1px;
    --rdr-wb: 2px;
    --rdrAncBottomWhite: rgba(255, 255, 255, 0.35);
    --rescueShade: unset;
}

body{
    /* background: #ffffff; */
    background: var(--readerBg);
} 

.form-control{
    background: transparent;
}

.form-control:focus {
    color: var(--textCol);
    background: transparent;
    border-color: var(--accentCol);
    outline: 0;
    box-shadow: none !important;
}


.dashboard-header .navbar {
    padding: 0px;
    border-bottom: 1px solid var(--borderColor);
    -webkit-box-shadow: var(--shadowBoxColor);
    box-shadow: var(--shadowBoxColor);
    -webkit-transition: all 0.3s ease;
    min-height: 60px;
}



.navbar-brand {
    display: inline-block;
    margin-right: 1rem;
    line-height: inherit;
    white-space: nowrap;
    padding: 11px 20px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--textCol);
    background-color: var(--readerBg);
}
.navbar-brand:hover{
    color: var(--accentCol);
}   

.navbar-right-top .nav-item {
    border-right: 1px solid #e6e6f2;
}

.navbar-right-top .nav-item:last-child {
    border: none;
}

.navbar-right-top .nav-item .nav-link {
    border: none;
    border-radius: 10px;
    margin-top: 5px;
    padding: 13px 20px;
    font-size: 16px;
    line-height: 2;
    color: var(--textCol);
}

.navbar-right-top .nav-item .nav-link:hover,
.navbar-right-top .nav-item .nav-link:focus {
    background-color: var(--accentCol) !important;
    background-image: none;
}

.dropdown-menu{
    background-color: var(--sidebarColDark);
}


/* --  top-search-bar ---  */

.top-search-bar {
    padding-top: 12px;
    padding-right: 24px;
    padding: 12px 24px 12px 0;
}


/* ------  Notification Dropdown --------  */

.notification {}

.notification-dropdown {
    min-width: 320px;
}

.notification-dropdown,
.connection-dropdown,
.nav-user-dropdown {
    padding: 0px;
    margin: 0px;
}

.notification-title {
    font-size: 14px;
    color: var(--textCol);
    text-align: center;
    font-weight: 700;
    font-size: large;
    padding: 8px 0px;
    border-bottom: 1px solid var(--borderColor);
    line-height: 1.5;
    background-color: var(--accentCol);
}

.notification-list {}

.notification-list .list-group-item {
    border-radius: 0px;
    padding: 12px;
    margin-top: -1px;
    border-left: transparent;
    border-right: transparent;
    background-color: var(--blackLight);
}

.notification-list .list-group-item.active {
    z-index: 2;
    color: #acacac;
    background-color: var(--blackFlag);
}

.notification-list .list-group-item-action:focus,
.list-group-item-action:hover {
    font-weight: 600;
    text-decoration: none;
    background-color: var(--accentCol) !important;
}

.notification-list .list-group-item:last-child {}

.notification-info {}

.notification-info .notification-date {
    display: block;
    font-size: small;
    font-weight: 500;
    margin-top: 4px;
    text-transform: uppercase;
    color: var(--accentSelectedInvert);
}

.notification .dropdown-toggle::after,
.connection .dropdown-toggle::after,
.nav-user .dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border: none;
}

.notification-list-user-img {
    float: left;
}

.notification-list-user-block {
    padding-left: 50px;
    font-size: 14px;
    line-height: 21px;
}

.notification-list-user-name {
    color: var(--accentSelected);
    font-weight: 500;
    font-size: 14px;
    margin-right: 8px;
}

.list-footer,
.conntection-footer {
    font-size: 14px;
    color: var(--textCol);
    text-align: center;
    padding: 10px 0px;
    line-height: 1.5;
    font-weight: 700;
    background-color: var(--accentCol);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}


.indicator {
    content: '';
    position: absolute;
    top: 16px;
    right: 23px;
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: var(--accentSelectedInvert);
    animation: .9s infinite beatHeart;
    transform-origin: center;
}

@keyframes beatHeart {
    0% {
        transform: scale(0.9);
    }
    25% {
        transform: scale(1.1);
    }
    40% {
        transform: scale(0.9);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(0.9);
    }
}


/* ------  Connection --------  */

.connection {}

.connection-dropdown {}

.connection-list {
    width: 300px;
    padding: 20px;
    background-color: var(--blackLight);
}

.connection-item {
    border-radius: 3px;
    line-height: 32px;
    text-align: center;
    padding: 12px 7px 4px;
    display: block;
    border: 1px solid transparent;
    color: var(--textCol);
    font-size: 12px;
}

.connection-item img {
    width: 32px;
}

.connection-item:hover {
    background-color: #fff;
    border: 1px solid #e6e6f2;
}

.connection-item span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* ----- User Nav Dropdown -----*/

.nav-user {}

.nav-user-dropdown {
    padding: 0px;
    min-width: 230px;
    margin: 0px;
}

.nav-user-name {}

.nav-user-info {
    background-color: #5969ff;
    line-height: 1.4;
    padding: 12px;
    color: #fff;
    font-size: 13px;
    border-radius: 2px 2px 0 0;
}

.nav-user-info .status {
    float: left;
    top: 7px;
    left: 0px;
}

.nav-user-dropdown {}

.nav-user-dropdown .dropdown-item {
    display: block;
    width: 100%;
    padding: 12px 22px 15px;
    clear: both;
    font-weight: 400;
    color: #686972;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-size: 13px;
    line-height: 0.4;
}

.nav-user-dropdown .dropdown-item:hover {
    background-color: #f7f7fb;
}

/*---- User icon sizes ---*/

.user-avatar-xxl {
    height: 128px;
    width: 128px;
}

.user-avatar-xl {
    height: 90px;
    width: 90px;
}

.user-avatar-lg {
    height: 48px;
    width: 48px;
}

.user-avatar-md {
    height: 32px;
    width: 32px;
}

.user-avatar-sm {
    height: 24px;
    width: 24px;
}

.user-avatar-xs {
    height: 18px;
    width: 18px;
}



.avatar {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    border: 2px solid #F7F9FA;
    background: #F7F9FA;
    color: #fff;
}


.media-attachment div.avatar {
    border: none;
}

.avatar.bg-primary {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar.bg-primary i {
    font-size: 14px;
}
