@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i|Vollkorn:400,400i,600&display=swap&subset=latin-ext');

@font-face {
    font-family: 'guya';
    src:
        url('../fonts/guya.woff?bss2') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Variables, dependent on theme */
:root {
    --readerBg: #272b30;
    --sidebarCol: #3a3f44;
    --accentCol: #b2dffb;
    --icoCol: #eee;
    --textCol: #ddd;
    --sidebarColDark: #2b2f33;
    --sidebarColDarkA: #2b2f3300;
    --prevCol: #34393d;
    --accentSelected: #ffffff;
    --accentSelectedInvert: #333333;
    --sidebarColFocus: rgba(0, 0, 0, 0.3);
    --borderColor: rgba(0,0,0,0.7);
    --blackFlag: rgba(0,0,0,0.7);
    --blackLight: rgba(0,0,0,0.2);
    /* One time use */
    --rdrBorderL: 1px;
    --rdr-wb: 2px;
    --rdrAncBottomWhite: rgba(255,255,255,0.35);
    --rescueShade: unset;
    }

* {
    box-sizing: border-box;
    outline: unset;
}

ul{
    list-style: none;
    padding: 0 1rem;
}

button{
    background: unset;
    border: unset;
}

a:hover{
    text-decoration: none;
}

a.regis-link{
    margin: 0 0.5rem;
}

a.regis-link:hover{
    text-decoration: underline;
}

main {
    margin-top: 5rem;
}


html {
    scroll-behavior: smooth;
    zoom: 1;
    min-zoom: 0.5;
    max-zoom: 2;
}

body {
    /* background: #ffffff; */
    background: var(--readerBg);
    -webkit-overflow-scrolling: none;
}

/* --------------- Scroll bar ------------------ */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--blackFlag);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--accentCol);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--accentSelected);
}

.form-control {
    background: transparent;
    box-shadow: none;
    border: unset;
    outline: none;
    transition: 1s;
}

.form-control:focus{
    background: transparent;
    box-shadow: none;
    outline: none;
}

:root {
    --btn-width-100: 100px;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    margin: 0;
    padding: 0;
}

nav ul.nav-list {
    height: 4rem;
    margin: 0;
    display: flex;
    box-shadow: 0 1px 8px rgba(175, 32, 32, 0.7);
    background-color: var(--readerBg);
}

nav ul.nav-list li {
    height: 100%;
    padding: 0.5rem;
}

nav ul li #search_btn {
    border: none;
    outline: none;
    text-align: center;
    width: 3rem;
    height: 3rem;
    font-size: 1rem;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: 0.5s;
}

#search_btn {}

#search_btn i {
    position: absolute;
    z-index: 1;
    width: 3rem;
    height: 3rem;
    padding: 1rem;
    top: 0;
    left: 0;
    background-color: var(--blackFlag);
    border-radius: 1.5rem;
    transition: 1s;
}

#search_btn .search-input {
    height: 100%;
    padding: 0;
}

#search_btn .form-control {
    padding: 0.5rem 0.25rem;
}

#search_btn.active {
    width: 20rem;
}

#search_btn.active .search-input .form-control{
    padding: 0 3rem;
}

#search_btn .input-clear {
    position: absolute;
    right: 0;
    top: 0;
    height: 3rem;
    width: 3rem;
    padding: 1rem;
}

#search_btn .input-clear::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 1rem;
    background-color: var(--textCol);
    transform: rotate(45deg);
}

#search_btn .input-clear::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 1rem;
    background-color: var(--textCol);
    transform: rotate(-45deg);
}

.space {
    flex: 1;
}

nav ul li.list-item-branch-logo {
    padding: 0;
}

nav ul li a#home {
    display: inline-block;
    text-decoration: none;
    height: 4rem;
    width: var(--btn-width-100);
    width: max-content;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

nav ul li a img {
    height: 100%;
}

nav ul li #btn_msg,
nav ul li #btn_bell,
nav ul li #btn_profile {
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background: rgba(0, 0, 0, 0.068);
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
}

li button#search_btn {
    position: relative;
    background-color: var(--blackLight) !important;
}

button.tooltip {
    position: relative;
    z-index: 3;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.2) !important;
}

button.tooltip:hover {
    background-color: rgba(255, 255, 255, 0.3) !important;
}

.tooltip::after {
    position: absolute;
    content: attr(data-tooltip);
    background: rgba(43, 43, 43, 0.8);
    top: 120%;
    outline: solid 1px var(--textCol);
    border-radius: 5px;
    padding: 0 0.5rem;
    opacity: 0;
    transition: .3s;
    pointer-events: none;
    user-select: none;
    transition: 1s;
}

.tooltip:hover::after {
    opacity: 1;
}

nav ul li #btn_profile::after {
    margin-left: -20px;
}

.indicator{
    position: absolute;
    display: inline-block;
    content: '';
    height: 0.4rem;
    width: 0.4rem;
    border-radius: 100%;
    background-color: var(--accentSelectedInvert);
    top: 0.5rem;
    right: 0.5rem;
    animation: 0.9s infinite newNoti;
    transform-origin: center;
}

@keyframes newNoti{
    0% {
        transform: scale(0.9);
    }
    20% {
        transform: scale(1.1);
    }
    40% {
        transform: scale(0.9);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(0.9);
    }
}

button.tooltip {}

.nav-menu{
    position: fixed;
    width: 20rem;
    background-color: var(--blackLight);
    top: 3.75rem;
    right: 1rem;
    border-radius: 10px;
    padding: 0.7rem;
    display: none;
}

/* button.tooltip.active + .nav-menu{
    visibility: visible;
} */

.nav-menu ul{}


.user-section{
    padding: 0.5rem 0.3rem;
    background-color: var(--blackFlag);
    border-radius: 6px;
}

#user-avatar{
    padding: auto 0;
}

#user-info{
    margin: 0 1rem 0 1rem;
}

.user-fullname{
    font-size: 1.1rem;
    font-weight: bold;
    margin-right: 0.3rem;
    color: var(--accentSelected) !important;
}

#username{
    color: var(--accentSelectedInvert) !important;
}

.user-section button{
    background: unset;
    border: none;
    height: 2rem;
    width: 2rem;
    align-self: center;
    border-radius: 50%;
}

.user-section button:hover,
.user-section button:focus{
    background-color: var(--blackLight);
    outline: unset;
}

.divider{
    width: 100%;
    margin: 0.5rem 0;
    border-radius: 5px;
    height: 1.5px;
    background-color: var(--accentCol);
}

.nav-menu-list{
    background-color: var(--blackFlag);
    padding: 0.5rem 0;
    border-radius: 6px;
}

.nav-menu-item{
    height: unset !important;
    padding: 0.5rem 2rem;
    border-radius: 6px;
    cursor: pointer;
}

.nav-menu-item:hover{
    background-color: var(--blackLight);
}

.nav-menu-item button:focus{
    outline: unset;
}


.noti-link{}

.list-title{
    display: flex;
    justify-content: space-between;
}

.noti-link{
    display: flex;
}

.noti-link:hover{
    text-decoration: none;
}

.noti-body{
    margin-left: 1rem;
}

.noti-body:not(.user-fullname){
    font-size: 0.9rem;
}

.noti-time{
    font-size: small;
    color: var(--accentSelectedInvert) !important;
}

.not-read::after{
    content: '';
    position: relative;
    display: inline-block;
    content: '';
    height: 0.4rem;
    width: 0.4rem;
    border-radius: 100%;
    background-color: var(--accentSelectedInvert);
    left: 0.5rem;
}

/* ------------------- */

.user-avatar-xxl {
    height: 128px;
    width: 128px;
}

.user-avatar-xl {
    height: 90px;
    width: 90px;
}

.user-avatar-lg {
    height: 48px;
    width: 48px;
}

.user-avatar-md {
    height: 32px;
    width: 32px;
}

.user-avatar-sm {
    height: 24px;
    width: 24px;
}

.user-avatar-xm {
    height: 18px;
    width: 18px;
}

@media screen and (max-width: 700px) {
    :root {
        --btn-width-100: 60px;
    }
}

@media (max-width: 992px){
    .tooltip::after{
        display: none;
    }
}