@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i|Vollkorn:400,400i,600&display=swap&subset=latin-ext');

@font-face {
    font-family: 'guya';
    src:
        url('../fonts/guya.woff?bss2') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Variables, dependent on theme */
:root {
    --readerBg: #272b30;
    --sidebarCol: #3a3f44;
    --accentCol: #b2dffb;
    --icoCol: #eee;
    --textCol: #ddd;
    --sidebarColDark: #2b2f33;
    --sidebarColDarkA: #2b2f3300;
    --prevCol: #34393d;
    --accentSelected: #ffffff;
    --accentSelectedInvert: #333333;
    --sidebarColFocus: rgba(0, 0, 0, 0.3);
    --borderColor: rgba(0,0,0,0.7);
    --blackFlag: rgba(0,0,0,0.7);
    --blackLight: rgba(0,0,0,0.2);
    /* One time use */
    --rdrBorderL: 1px;
    --rdr-wb: 2px;
    --rdrAncBottomWhite: rgba(255,255,255,0.35);
    --rescueShade: unset;
    }

::-moz-selection { /* Code for Firefox */
    color: var(--accentSelected);
    background: var(--accentCol);
}
    
::selection {
    color: var(--accentSelected);
    background: var(--accentCol);
}

* {
    box-sizing: border-box;
    outline: unset;
}

ul{
    list-style: none;
    padding: 0 1rem;
}

button{
    background: unset;
    border: unset;
}

a:hover{
    text-decoration: none;
}

a.regis-link{
    margin: 0 0.5rem;
    color: var(--textCol);
}

a.regis-link:hover{
    text-decoration: underline;
}

.icon{
    color: var(--icoCol);
}

main {
    margin-top: 5rem;
}


html {
    scroll-behavior: smooth;
    zoom: 1;
    min-zoom: 0.5;
    max-zoom: 2;
}

body {
    /* background: #ffffff; */
    background: var(--readerBg);
    -webkit-overflow-scrolling: none;
}

/* --------------- Scroll bar ------------------ */
/* width */
::-webkit-scrollbar {
    height: 0.6rem;
    width: 0.6rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--accentSelectedInvert);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--accentCol);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--accentSelected);
}

.form-control {
    background: transparent;
    box-shadow: none;
    border: unset;
    outline: none;
    transition: 1s;
}

.form-control:focus{
    background: transparent;
    box-shadow: none;
    outline: none;
}

:root {
    --btn-width-100: 100px;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    margin: 0;
    padding: 0;
}

nav ul.nav-list {
    height: 4rem;
    margin: 0;
    display: flex;
    background-color: var(--sidebarCol);
}

nav ul.nav-list li {
    height: 100%;
    padding: 0.5rem;
}

nav ul li #search_btn {
    border: none;
    outline: none;
    text-align: center;
    width: 3rem;
    height: 3rem;
    font-size: 1rem;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: 0.5s;
}

#search_btn i {
    position: absolute;
    z-index: 1;
    width: 3rem;
    height: 3rem;
    padding: 1rem;
    top: 0;
    left: 0;
    background-color: var(--sidebarColDark);
    border-radius: 1.5rem;
    transition: 1s;
}

#search_btn .search-input {
    height: 100%;
    padding: 0;
}

#search_btn .form-control {
    padding: 0.5rem 0.25rem;
    color: var(--textCol);
}

#search_btn.active {
    width: 20rem;
}

#search_btn.active .search-input .form-control{
    padding: 0 3rem;
}

#search_btn .input-clear {
    position: absolute;
    right: 0;
    top: 0;
    height: 3rem;
    width: 3rem;
    padding: 1rem;
}

#search_btn .input-clear::before {
    position: absolute;
    content: "";
    width: 1.5px;
    height: 1rem;
    background-color: var(--icoCol);
    transform: rotate(45deg);
}

#search_btn .input-clear::after {
    position: absolute;
    content: "";
    width: 1.5px;
    height: 1rem;
    background-color: var(--icoCol);
    transform: rotate(-45deg);
}

.space {
    flex: 1;
}

nav ul li.list-item-branch-logo {
    padding: 0;
}

nav ul li a#home {
    display: inline-block;
    text-decoration: none;
    height: 4rem;
    width: var(--btn-width-100);
    width: max-content;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

nav ul li a img {
    height: 100%;
}

nav ul li #btn_msg,
nav ul li #btn_bell,
nav ul li #btn_profile {
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
}

li button#search_btn {
    position: relative;
    background-color: var(--blackLight) !important;
}

li button.nav-btn {
    position: relative;
    z-index: 3;
    opacity: 1;
    background-color: var(--sidebarColDark) !important;
}

nav ul li #btn_profile::after {
    margin-left: -20px;
}

.indicator{
    position: absolute;
    display: inline-block;
    content: '';
    height: 0.4rem;
    width: 0.4rem;
    border-radius: 100%;
    background-color: var(--accentCol);
    top: 0.5rem;
    right: 0.5rem;
    animation: 0.9s infinite newNoti;
    transform-origin: center;
}

@keyframes newNoti{
    0% {
        transform: scale(0.9);
    }
    20% {
        transform: scale(1.1);
    }
    40% {
        transform: scale(0.9);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(0.9);
    }
}

.nav-menu{
    position: fixed;
    width: 20rem;
    background-color: var(--prevCol);
    top: 3.75rem;
    right: 1rem;
    border-radius: 10px;
    border: solid var(--rdrBorderL) var(--borderColor);
    padding: 0.7rem;
    display: none;
}

.user-section{
    padding: 0.5rem 0.3rem;
    border-radius: 6px;
}

#user-avatar{
    padding: auto 0;
}

#user-info{
    margin: 0 1rem 0 1rem;
}

.user-fullname{
    font-size: 1.1rem;
    margin-right: 0.3rem;
    font-weight: 500;
    color: var(--accentCol) !important;
}

#username{
    color: var(--accentCol) !important;
    opacity: 0.8;
}

.user-section button{
    background: unset;
    border: none;
    height: 2rem;
    width: 2rem;
    align-self: center;
    border-radius: 50%;
}

.user-section button:hover,
.user-section button:focus{
    outline: unset;
}

.divider{
    width: 100%;
    margin: 0.5rem 0;
    border-radius: 5px;
    height: 1.5px;
    background-color: var(--accentCol);
}

.nav-menu-list{
    background-color: var(--prevCol);
    padding: 0.5rem 0;
    border-radius: 6px;
}

.nav-menu-item{
    height: unset !important;
    padding: 0.5rem 2rem;
    border-radius: 6px;
    cursor: pointer;
}

.nav-menu-item:hover{
    background-color: var(--blackLight);
}

.nav-menu-item button{
    color: var(--textCol);
}

.nav-menu-item button:focus{
    outline: unset;
}

.list-group.list-noti{
    max-height: 60vh;
    overflow-y: scroll;
}

.list-title{
    display: flex;
    justify-content: space-between;
    color: var(--textCol);
}

.noti-link{
    display: flex;
}

.noti-link:hover{
    text-decoration: none;
}

.noti-body{
    margin-left: 1rem;
    color: var(--textCol);
}

.noti-body:not(.user-fullname){
    font-size: 0.9rem;
}

.noti-time{
    font-size: small;
    color: var(--textCol);
    opacity: 0.5;
}

.not-read::after{
    content: '';
    position: relative;
    display: inline-block;
    content: '';
    height: 0.4rem;
    width: 0.4rem;
    border-radius: 100%;
    background-color: var(--accentCol);
    left: 0.5rem;
}

#read-all-noti{
    color: var(--accentCol);
}


/* ------------------- */

.user-avatar-xxl {
    height: 128px;
    width: 128px;
}

.user-avatar-xl {
    height: 90px;
    width: 90px;
}

.user-avatar-lg {
    height: 48px;
    width: 48px;
}

.user-avatar-md {
    height: 32px;
    width: 32px;
}

.user-avatar-sm {
    height: 24px;
    width: 24px;
}

.user-avatar-xm {
    height: 18px;
    width: 18px;
}

@media screen and (max-width: 700px) {
    :root {
        --btn-width-100: 60px;
    }
}

.modal-content{
    padding-bottom: 2rem;
    min-width: 16rem;
    max-width: 24rem;
    background-color: var(--prevCol);
}

.help{
    position: absolute;
    bottom: 3rem;
    color: var(--accentCol);
    font-weight: bolder;
    font-family: inherit;
    padding: 1rem 1rem 0 1rem;
}

.setting-wrapper{
    padding: 0.3rem 1rem 1.2rem 1rem;
	border-bottom: 1px solid rgba(0,0,0,0.3);
}

.setting-wrapper:nth-child(6){
	border-bottom: none;
}

.form-select{
    min-width: 200px;
    padding: 7px 40px 7px 12px;
    width: 100%;
    border: 1px solid var(--borderColor);
    border-radius: 5px;
    background: var(--blackLight);
    box-shadow: 0 1px 3px -2px #313234;
    cursor: pointer;
    font-family: inherit;
    font-size: 1rem;
    color: var(--textCol);
    transition: all 150ms ease;
    overflow-y: hidden;
}

.form-select:hover{
    background: var(--blackFlag);
}

.form-select option {
    color: var(--textCol);
    background: var(--sidebarCol);
    padding: 0.5rem;
}

.form-select option:hover{
    background: var(--sidebarColDark);
}

.setting-wrapper.compact{
    padding: 0.5rem 1rem 0.5rem 1rem;
	display: flex;
}

.compact .setting-field{
    align-items: center;
	align-content: center;
	display: flex;
	flex-grow: 1;
	justify-content: flex-end;
}

.setting-header {
	padding: 0;
	min-height: 2.5rem;
	padding-top: 0.5rem;
	color: var(--textCol);
    text-transform: uppercase;
    font-weight: bolder;
}

.ColorPicker {
	display: block;
	width: 2em;
	height: 2em;
	outline: none !important;
	border: 1px solid rgba(0,0,0,.3);
	border-radius: 4px;
	color: transparent;
	box-shadow: 0px 0px 0px 1px inset rgba(255,255,255,0.4);
	cursor: pointer;
	user-select: none;
}

body, button, button:before {
	text-shadow: var(--rescueShade);
}

.ResetButton {
	margin-top: 1em;
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.07em;
	font-family: "Open Sans";
	text-shadow: var(--rescueShade);
	border: 1px solid var(--borderColor);
	border-radius: 2px;
	overflow: hidden;
	box-shadow: 0 2px 3px -1px rgba(0,0,0,0.3);
	color: var(--textCol);
	background-color: var(--sidebarColDark);
	padding: 0.4rem 1.6rem;
}

/* pcr-overrides */

.pcr-app[data-theme=nano] .pcr-selection .pcr-color-chooser {
    grid-area: 2/1/2/span 2 !important; 
}


.pcr-app[data-theme=nano] .pcr-swatches {
    display: none !important;
}


/* nano.min.css | https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/nano.min.css */

.pcr-app {
	background: #33383d;
}

.pcr-app .pcr-interaction .pcr-save {
	background: #b2dffb;
}

.pcr-app .pcr-interaction .pcr-cancel, .pcr-app .pcr-interaction .pcr-clear, .pcr-app .pcr-interaction .pcr-save {
	color: black;
	font-family: "Open Sans";
}

.pcr-app .pcr-interaction input {
	letter-spacing: unset; 
	font-size: 0.8rem;
	border-radius: unset; 
	padding: unset; 
	margin-top: unset; 
	padding: .45em 1.1em;
}

.pcr-app .pcr-interaction > * {
	margin: unset;
}

.pcr-app .pcr-interaction {
	margin: unset;
	align-items: stretch;
	overflow: hidden;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.pcr-app[data-theme="nano"] .pcr-interaction {
	padding: unset;
	/* height: 2.1rem; */
	margin-bottom: -5px;
}

.pcr-app[data-theme="nano"]{
    height: max-content;
}

.pcr-app .pcr-interaction .pcr-result {
	border-radius: unset;
	background: #292d31;
	color: #eee;
	outline: none !important;
	box-shadow: none !important;
}

.pcr-app[data-theme="nano"] .pcr-selection .pcr-color-palette .pcr-palette {
	border-radius: unset;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.pcr-app[data-theme="nano"] .pcr-selection .pcr-color-chooser, .pcr-app[data-theme="nano"] .pcr-selection .pcr-color-opacity {
	margin: .2em .8em;
}

.disabled {
	opacity: 0.2;
	pointer-events: none;
}

.noti-content :not(span.user-fullname){
    color: var(--textCol) !important;
}

.search-results{
    height: 20rem;
    width: 120%;
    margin-top: 5px;
    border-radius: 10px;
    background-color: var(--readerBg);
    padding: 0.5rem 1rem;
    box-shadow: 0 5px 20px 5px var(--accentSelectedInvert);
}

.search-link{
    color: var(--textCol);
    display: flex;
    padding: 0.3rem;
    border: solid 2px var(--borderColor);
    border-radius: 5px;
    background-color: var(--sidebarCol);
}

.search-link img{
    max-height: 5.6rem;
    max-width: 4.2rem;
}

.search-link .search-details{
    margin-left: 0.5rem;
}

.search-link .search-details .title{
    display: flex;
}

.search-link .search-details .title .chapter{
    font-weight: bold;
    font-size: 18px;
}

.search-tag{
    margin-left: 1rem;
    color: var(--accentCol);
    border: solid 1px var(--accentCol);
    font-size: 12px;
    padding: 0.2rem 0.5rem;
}

.search-link .search-details p{
    margin-top: 0.2rem;
}

.search-link:hover{
    background-color: var(--accentCol);
    color: var(--accentSelected);
}
.search-link:hover .search-tag{
    color: var(--accentSelected);
    border-color: var(--accentSelected);
}