[flake8]
max-line-length = 120
import-order-style = pycharm
enable-extensions = G
ignore =
    W504,
    C814,
per-file-ignores =
    ./*/__init__.py:F401,F403
exclude =
    ./guyamoe/settings/*.py,
    ./venv/*
    ./*/apps.py
    ./*/migrations/*.py
    ./test.py
