{% extends 'layout.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/profile.css'%}">
{% endblock %}
{% block body %}

<body>
  <div class="main-content">
    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex">
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="#">
                    <img src="{{ profile.avatar }}" class="rounded-circle">
                  </a>
                </div>
              </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
            </div>
            <div class="card-body pt-0 pt-md-4">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                    <div>
                      <span class="heading">{{ comments }}</span>
                      <span class="description">Comments</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <h3>
                  {{ profile.display_name }}
                </h3>
                <hr class="my-4">
                <p>{{ profile.description }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 order-xl-1">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">{% if owner == request.user.username %} Sửa thông tin {% else%} Thông tin {% endif %}</h3>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form method="POST">
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="w-100">
                      <div class="form-group">
                        <label class="form-control-label" for="input-email">Địa chỉ email</label>
                        {% if owner == request.user.username %}
                        <input type="email" id="input-email" class="form-control" placeholder="email" value="{{ profile.user.email }}">
                        {% else %}
                        <div class="form-control">{{ profile.user.email}}</div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="w-100">
                      <div class="form-group">
                        <label class="form-control-label" for="input-first-name">Tên hiển thị</label>
                        {% if owner == request.user.username %}
                        <input type="text" id="input-first-name" class="form-control" placeholder="Tên hiển thị" value="{{ profile.display_name}}">
                        {% else %}
                        <div class="form-control">{{ profile.display_name }}</div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="w-100">
                      <div class="form-group">
                        {% if owner == request.user.username %} 
                        <label class="form-control-label">Mô tả</label>
                        <textarea rows="4" class="form-control" placeholder="Viết mô tả về bạn">{{ profile.description }}</textarea>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                    {% if owner == request.user.username %}
                    <button type="submit" class="btn btn-sm btn-primary">Lưu</button>
                    {% endif%}
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
  </footer>
</body>
{% endblock %}
