{% extends "layout.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}
{% block body %}
<div class="main">
    <div class="form">
    <form class="wrapper-form" method="post">
            {% csrf_token %}
            <div>
                <div>
                    <div>
                        <div class="input-text">Mật khẩu cũ</div>
                        <span class="input-wrap">{{form.old_password}}</span>
                </div>
                {% if form.old_password.errors %}
                <div>{{ form.old_password.errors }}</div>
            {% endif %}  
                <div>
                    <div class="input-text">Mật khẩu mới</div>
                    <span class="input-wrap">{{form.new_password1}}</span>
            </div>
            {% if form.new_password1.errors %}
            <div class="help-text">{{ form.new_password1.errors }}</div>
        {% endif %} 
            <div>
                <div class="input-text">Nhập lại mật khẩu</div>
                <span class="input-wrap">{{form.new_password1}}</span>
            </div>
            {% if form.new_password2.errors %}
            <div>{{ form.new_password2.errors }}</div>
        {% endif %}
        {% if form.errors %}
        <div class="help-text">
            Mật khẩu của bạn không được quá giống với thông tin cá nhân khác.
            <br/>
            
            Mật khẩu của bạn phải chứa ít nhất 8 ký tự.
        </div>
        {% endif %}
            </div>
            <button class="reset-btn">Đổi mật khẩu</button>
          </form>
    </div>
</div>
</div>
{% endblock %}