{% extends "layout.html" %}
{% load static %}
{% block head %}
<style>
    body {
	position: relative;
	background-attachment: fixed;
	background-size: cover;
	background-image: url('/static/img/bg_artwork.png');
	background-repeat: no-repeat;
	padding-top: 5em;
}
    .container{
        position: relative !important;
    }
    .h-100 {
        height: 50px !important;
    }

    .row{
        margin:0 !important;
    }
    p {
        margin-top: 0;
        color: #fff !important;
        margin-bottom: 1rem;
        font-size: 15px;
    }


    #quote {
        display: none !important;
    }

    #overview {
        
        height: auto;
        width: 100%;
        margin-bottom: 4px;
    }

    #reasons {
        height: auto;
        width: 100%;
        padding: 10px;
    }

    #support {
        height: auto;
        width: 100%;
        padding-bottom: 60px;
    }

    .manga_img{      
     width: auto;
    height: 300px;
    padding: 0 8px;
    border: 2px;
    border-style: solid !important;
    }
    .box_img{
        display: flex;
        justify-content: center;
      
    }
       .heading{
        display: flex;
    flex-direction: column;
       }
       .h1, h1 {
    color: #fff;
    margin: 0 !important;
    display: flex;
    flex-direction: column;
}
   .about_content {
    text-align: justify;
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
    justify-content: center;
    
    }
    .big-box {
    left: 5%;
    position: absolute;
    height: 1000px;
    margin-bottom: 70px;
    border-radius: 5px;
    width: 90%;
    background-color: rgb(0,0,0,0.3);
}
.vl-content {
    width: 0px  ;
    border-top: 3px solid yellow;
    height: 2px;
    padding: 10px 35%;
    position: relative;
    visibility: visible;
    padding-bottom: 20 px;
    transition: padding 0.5s;
    align-self: flex-start;
    margin-top: 2px;
}
 .about_content:hover .vl-content,.about_content.hover .vl-content{
    padding: 10px 50%;
}
.vl-reasons {
    width: 0px  ;
    border-top: 3px solid yellow;
    height: 2px;
    padding: 10px 18%;
    position: relative;
    visibility: visible;
    padding-bottom: 20 px;
    transition: padding 0.5s;
    align-self: flex-end;
margin-top: 2px;

}
 .about_content:hover .vl-reasons,.about_content.hover .vl-reasons{
    padding: 10px 50%;
}

.vl-support {
    width: 0px  ;
    border-top: 3px solid yellow;
    height: 2px;
    padding: 10px 20%;
    position: relative;
    visibility: visible;
    padding-bottom: 20 px;
    transition: padding 0.5s;
    align-self: center  ;
    margin-top: 2px;
}
 .about_content:hover .vl-support,.about_content.hover .vl-support{
    padding: 10px 50%;
}
 .square-bg{
    background : url(/static/img/bg_box_cuss.png) center/contain no-repeat;

 }
 @media screen and (min-width:1081px) {
    .container{
        margin-top: 20px;
    }
 }
@media screen and (max-width: 1080px) {
    .container {
    margin-top: -940px;
    }
}
@media screen and (max-width:760px) {
    .h1,h1{
        font-size:24px !important;
        
    }
    .big-box{
        left:0% !important;
        width: 100% !important;
    }
    .manga_img {
    width: auto;
    height: 220px;
    border: 1px;
    border-style: solid !important;
}
}

@media screen and (max-width: 576px){
    .container{
        margin-top: -1400px;
    }
    .big-box{
        height: 1500px !important;
    }
    .vl-reasons, .vl-support, .vl-content{
        display: none;
    }
}


</style>
{% endblock %}
{% block body %}
<div class="big-box">
<div class="container">
    <div id="overview" class="row">
        <div class="col-sm-4 box_img square-bg">
            <div class="box_img">
            <img class="manga_img" src="/static/img/kei-blush.png" alt="">
        </div>
    </div>
    <div class="col-sm-8 about_content ">   
        <div class="heading">    
         <h1>Youzitsu.ga là gì
        </h1>
        <div class="vl-content"></div>
        </div> 
        <div class="para_content">
         <p>    Đây là trang web duy nhất ở Việt Nam chuyên đăng tải về bộ truyện
            đình đám có tên là <i>Youkoso Jitsuryoku Shijou Shugi no Kyoushitsu e</i>
            hay còn gọi là <i>Chào mừng đến với lớp học đề cao thực lực</i> ở Việt Nam.
            Bản dịch tiếng Việt được Team <i></i> phụ trách năm nhất và
            Team <i></i> phụ tách năm thứ 2.</p>
        </div>
    </div>
    </div>
    
    <div id="reasons" class="row">
    <div class="col-sm-8 about_content">
        <div class="heading"> 
        <h1>
            Mục đích của website
            <div class="vl-reasons"></div>
        </h1>
        </div>
        <div class="para_content">
        <p> Chúng mình là fan cứng của bộ truyện Youzitsu và muốn các bạn fan khác
            được có trải nghiệm khi đọc bộ truyện này theo một cách thoải mái nhất.
            <br>
            Công cụ đọc truyện được phát triển
            dựa trên mã nguồn mở của <a href="guya.moe">guya.moe</a> để có thể giúp mọi người
            có trải nghiệm tốt hơn khi thưởng thức bộ manga Youzitsu.
        </p>
        </div>
    </div>

        <div class="col-sm-4 box_img square-bg order-first order-sm-last  ">
            <img class="manga_img" src="/static/img/kiyo-kei.png" alt="">

    </div>
</div>


<div id="support" class="row">
    <div class="col-sm-4 box_img square-bg">
            <img class="manga_img" src="/static/img/kei-phone.png" alt="">
    </div>
    <div class="col-sm-8 about_content">
        <div class="heading"> 
        <h1>Hỗ trợ
        <div class="vl-support"></div>
    </h1>
    </div>
        <div class="para_content">
        <p>
           
            <br>
           
        </p>
        </div>
        
    </div>
</div>
</div>
</div>

{% endblock %}