{% extends "layout.html" %}
{% load static %}
{% block head %}
	<style>
	* {
		border: 0px solid red;
	}

	a:hover {
		text-decoration: none;
	}

	.img {
		height: auto;
		/* width: 20vw; */
		margin-bottom: 5vh;
		transition: 0.2s ease-in-out;
	}

	.img:hover {
		transform: scale(1.1, 1.1);
		opacity: 0.8;
		/* box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); */
	}

	.sp-button {
		padding: 5%;
		background-color: #4b4b4b;
		color: white;
		transition: 0.2s ease-in-out;
	}

	.sp-button:hover {
		background-color: #e72e8c;
		transform: scale(1.1, 1.1);
		box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
	}

	.sp-button:focus {
		outline:0;
	}

	.sp-row-add {
		margin: 0;
	}

	.caption {
		margin-top: 2vh;
		word-wrap: wrap break-word;
	}

	img>p {
		width: inherit
	}

	.manga [class*="col-xs"] {
		margin-bottom: 15px;
	}
	body.h-100 {
		min-height: 100%;
		height: auto !important;
	}
	.manga h3 {
		color: #ddd;
		font-size: 1.5em;
		padding: 0 0.5em;
	}

	.tachi {
		margin-bottom: 3em;
		margin-right: 0;
		margin-left: 0;
	}

	.tachi > div {
		width: 100%;
	}

	.tachi img {
		height: 33px;
	}

	.tachi-plus {
		font-size: 1.5em;
		padding: 0 0.6em 0 0.4em;
	}

	.tachi .ecks {
		display: none;
	}

	@media only screen and (max-width: 760px) {
		.tachi {
			position: fixed;
			bottom: 0;
			width: 100%;
			bottom: 0;
			z-index: 1000;
			background: #232323;
			margin: 0;
			left: 0;
			padding: 1em 0 1.5em;
			border-top: 2px #777 solid;
		}

		.tachi > div.mb-5 {
			margin-bottom: 0 !important;
		}

		.tachi .ecks {
			display: block;
			position: absolute;
			font-size: 2em;
			color: white;
			padding: 0.25em 0.25em;
			box-sizing: content-box;
			width: 1em;
			line-height: 1em;
			height: 1em;
			right: 0;
			top: 0;
			cursor: pointer;
		}

	}

	#quote:hover {
		transform: scale(1.1);
		border: 1px solid #3A3F44;
	}
</style>

{% endblock %}

{% block body %}
<main role="main">
	<div class="manga-card bigg">
		<a id="first-series" class="picture" href="#">
			<picture id="mainSeriesCover"></picture>
		</a>
		<article>
			<a href="/read/manga/Kaguya-Wants-To-Be-Confessed-To/"><h1>Kaguya-sama: Love is War</h1></a>
			<h2>Kaguya-sama Wants to Be Confessed To: The Geniuses' War of Love and Brains</h2>
			<h2>Kaguya-sama wa Kokurasetai: Tensai-tachi no Renai Zunousen</h2>
			<div class="manga-links">
				<span>
					<a href="/read/manga/Kaguya-Wants-To-Be-Confessed-To/" class="manga-link full guya">Read the manga ›</a>
				</span>
				<span>
					<a id="list_exp" href="#chapter_listing_exp" onclick="
						document.getElementById('chapter_listing').classList.add('vis');
						document.getElementById('chapter_listing_exp').classList.add('vis');
						document.getElementsByClassName('chapter-listing-expander')[0].classList.add('vis');
						toggleHash(event);
					" class="manga-link after-anime">Where to start after the anime ›</a><a href="//tachiyomi.org/extensions/#en.guya" class="manga-link tachiyom">Tachiyomi plugin</a>
				</span>
			</div>
			<p>All’s fair when love is war!</p>
			<p>Two geniuses. Two brains. Two hearts. One battle.</p>
			<p>Kaguya Shinomiya and Miyuki Shirogane are the geniuses leading their prestigious academy’s student council, and inevitably they fell for each other. But they both are too prideful to be the first to confess, as that would be a loss in the competition of love! In the end, who will confess their love first?</p>
			<p class="yeet">I like to call this the Death Note of school romantic comedies. If Death Note ever made you laugh out loud (on purpose).</p>
			<div class="manga-links shill">
				<span>
					<a rel="noreferrer nofollow" href="https://www.viz.com/read/manga/kaguya-sama-love-is-war/all" class="manga-link viz">VIZ Media</a>
					<a rel="noreferrer nofollow" href="https://www.amazon.com/gp/bookseries/B0778N11ZV" class="manga-link ama">Amazon</a>
					<a rel="noreferrer nofollow" href="https://play.google.com/store/books/series?id=Cv3xGgAAABD65M&hl=en_US" class="manga-link gp">Google Play</a>
					<a rel="noreferrer nofollow" href="https://apps.qoo-app.com/en/app/6233" class="manga-link yj jp">Young Jump Weekly</a>
					<a rel="noreferrer nofollow" href="http://books.shueisha.co.jp/search/search.html?order=1&seriesid=37405" class="manga-link shu jp">Shueisha</a>
				</span>
			</div>
		</article>
		<span id="chapter_listing_exp" style="padding-top: 60px; margin-top: -60px">
			<div  class="chapter-listing-expander" onmousedown="
				event.stopImmediatePropagation();
				document.getElementById('chapter_listing').classList.toggle('vis');
				event.currentTarget.classList.toggle('vis');
				toggleHash(event);
			"><span>List of Kaguya-sama chapters</span></div>
		</span>
		<table id="chapter_listing" class="chapter-listing hidden">
		</table>
	</div>
	<a id="fourKomaCard" href="/read/manga/We-Want-To-Talk-About-Kaguya/" class="manga-card smol">
		<picture id="fourKomaCover">
		</picture>
		<article>
			<h2>We Want to Talk About Kaguya <span class="tag">Spin-off</span></h2>
			<p>A comedic tale of two delusional girls who have absolutely no idea what goes on in the Student Council room! This manga provides context to a lot of stuff happening behind the scenes of the main story in Shuchiin.</p>
		</article>
	</a>
	<a href="//skythewood.blogspot.com/p/kaguya.html" target="_blank" class="manga-card smol" style="background-image: url({% static 'img/novelcover_blur.jpg' %})">
		<picture>
  			<img src="{% static 'img/novelcover.jpg' %}" class="" alt="Novel: The Seven Mysteries of Shuchiin Academy">
		</picture>
		<article>
			<h2>Novel: The Seven Mysteries of Shuchiin Academy <span class="tag">Spin-off</span></h2>
			<p>A light novel side story about the paranormal Legend of the Seven Mysteries of Shuchiin that the Student Council suddenly gets drawn into.</p>
		</article>
	</a>
	<a href="/read/manga/Oshi-no-Ko" class="manga-card smol" style="background-image: url({% static 'onk-blur.jpg' %})">
		<picture>
  			<img src="{% static 'onk.jpg' %}" class="" alt="Fanmade Media">
		</picture>
		<article>
			<h2>Oshi no Ko <span class="tag">Recommended</span></h2>
			<p>A story about the harsh realities of idol life and the dark undercurrents of the entertainment industry. The manga is drawn by Mengo Yokoyari and story is by Akasaka Aka, the author of Kaguya-sama.</p>
		</article>
	</a>
	<article class="spiel">
		<h1>This is the best place to read Kaguya online.</h1>
		<h3><i>And here are the reasons why.</i></h3>
		<div class="card-container">
			<div class="bullet-card">
				<i class="bullet">•</i>
				<div class="div">
					<h2>No ads</h2>
					<p>We don't have any ads - Guya.moe is made by the fans, for the fans. We don't seek profit, we just love Kaguya.</p>
				</div>
			</div>
			<div class="bullet-card">
				<i class="bullet">•</i>
				<div class="div">
					<h2>Reader built from scratch</h2>
					<p>This site runs <a href="https://github.com/appu1232/guyamoe">Cubari</a>: our fast, modern, and configurable manga reader, developed for Kaguya with features you haven't seen anywhere else.</p>
				</div>
			</div>
			<div class="bullet-card">
				<i class="bullet">•</i>
				<div class="div">
					<h2>Full-text search</h2>
					<p>We indexed the whole series, word for word. Open any manga chapter and press Ctrl+F to <a href="https://guya.moe/1#s" target="_blank">search</a> for any text within the entire manga.</p>
				</div>
			</div>
			<div class="bullet-card">
				<i class="bullet">•</i>
				<div class="div">
					<h2>We ensure quality</h2>
					<p>We pick the best English chapter scanlation available and only host translations that make sense.</p>
				</div>
			</div>
		</div>
		<section>
			<h2>Is this the official site for Kaguya-sama?</h2>
			<p>No, this entire site is fan-made, and we only host fan-made translations. The official printed release is done by Viz Media.  There are no official translations for <i>We Want to Talk About Kaguya</i>, the official doujin, and <i>Oshi no Ko</i>.</p>
			<h2>Why did you make this?</h2>
			<p>At some point, the team that originally scanlated Kaguya (Jaimini's Box) removed their chapters from Mangadex and only hosted them on their own website. However, their website did not have the earlier chapters, meaning the series was incomplete there.  Meanwhile, the other releases posted on Mangadex at the time were of a much lower quality than the Jaimini's Box versions.</p>
			<p>Therefore, we consolidated Kaguya-sama and its spinoffs under this website and made a useful reader, as well as some innovations like full-text search. We like the Kaguya-sama manga a lot and want more people to discover and enjoy Kaguya-sama in the best way possible.</p>
			<h2>There is an official translation by Viz. Why host unofficial translations?</h2>
			<img src="/static/kgscreenshot.png" class="img-aside" />
			<p><b>First</b>, the Viz manga volumes have yet to catch up to the weekly release.  There is also no simultaneous release for Kaguya on MangaPlus.</p>
			<p><b>Second</b>, by making the site as perfect as possible we direct a lot of traffic away from other "read Kaguya" websites that earn money with shady ads by taking fan releases and hosting them with no regard for quality or the fans - their only aim is views and ad revenue.</p>
			<p><b>Third</b>, despite providing all the chapters for free, we still want to promote the official sources so readers can support the author and official translators. We believe that both official and non-official releases can coexist - by keeping readers actively interested with regular weekly fan translations, we think more readers will buy official volumes and help support the series.</p>
			<a href="/read/manga/Kaguya-Wants-To-Be-Confessed-To/" class="manga-link guya" style="margin-left: 0">Start reading ›</a>
		</section>
	</article>
</main>
<footer class="container-fluid footer mt-auto">
	<div class="row justify-content-between small" style="background-color:#2a2a2a;">
		<div id="quote-block" class="col-lg"></div>
	</div>
</footer>

<script>
	let hash = false;

	function toggleHash(e) {
		if (e.target===document.getElementById('list_exp')) {
			hash=true;
			return
		}
		if(hash) history.replaceState('', '/', window.location.pathname);
		if(!hash) history.replaceState(null, null, '#chapter_listing_exp');
		hash = !hash;
	}

	// Get proper volume covers
	fetch(`/api/series_data_slug/`).then(res => res.json()).then(series_slug => {
		document.getElementById("first-series").setAttribute("href",`/read/manga/${series_slug[0]}/`)
		fetch(`/api/get_volume_cover/${series_slug[0]}/1/`).then(req => req.json()).then(cover => {
			document.getElementById("mainSeriesCover").innerHTML = `
			<source type="image/webp" srcset="${cover[2]}" class="" alt="Kaguya-sama: Love is War">
			<img src="${cover[1]}" class="" alt="Kaguya-sama: Love is War">
			`
		})
		fetch(`/api/get_volume_covers/${series_slug[1]}/`).then(req => req.json()).then(covers => {
			const latest_cover = covers["covers"][covers["covers"].length - 1];
			document.getElementById("fourKomaCover").innerHTML = `
				<source type="image/webp" srcset="${latest_cover[2]}" class="" alt="We Want to Talk About Kaguya">
				<img src="${latest_cover[1]}" class="" alt="We Want to Talk About Kaguya">
			`
			document.getElementById("fourKomaCard").style.backgroundImage = `url(${latest_cover[3]})`
		})
	})

</script>

<!-- History script -->
<!-- This badly needs linting but I can't be assed. -->
<script>

let MAX_CLICKS = 7;

let deleteItem = async (event, element, source, slug) => {
	event.preventDefault();
	await globalHistoryHandler.removeSeries(slug, source);
	element.parentElement.parentElement.parentElement.remove();
};

let pinItem = async (event, element, source, slug) => {
	event.preventDefault();
	await globalHistoryHandler.pinSeries(slug, source);
	refreshProxyElements();
};

</script>
<script>
// Expand the series listing if requested
window.addEventListener("load", () => {
	if(window.location.hash == '#chapter_listing_exp') {
		document.getElementById('chapter_listing').classList.add('vis');
		document.getElementById('chapter_listing_exp').classList.add('vis');
		document.getElementsByClassName('chapter-listing-expander')[0].classList.add('vis');
		hash = true;
	}
});
</script>
{% endblock %}
