{% extends "layout.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}{{ version_query }}">
{% endblock %}
{% block body %}

<main id="home">
  <div class="all-series-container">
    <div class="pair-series">
      <div class="series-container" id="manga-nam-nhat"></div>
      <div class="series-container" id="manga-nam-hai"></div>
    </div>
</main>

<script type="text/javascript" src="{% static 'js/home.js' %}{{ version_query }}"></script>
<script type="text/javascript">
    // History tagging
    tag();
  </script>
{% endblock %}