{% extends "layout.html" %}
{% load static %}
{% block body %}

<div class="big-page">
	<div class="content row">
		<div class="current-bar-vertical content-item">
			<div id="current-pointer-vertical"></div>
		</div>
		<div id="book-card" class="card-item col-4" data-ride="carousel">
			<div id = "button-nav" class="d-none">
				<div class="button-container d-flex justify-content-around">
					<a id="link-to-read">
						<div class="button-item">
							<i class="fa fa-book" aria-hidden="true"></i>
						</div>
					</a>
					<div class="button-item" style="opacity: 0;"></div>
					<a id="link-full-img" target="_blank">
						<div class="button-item" style="margin-left: 40%;">
							<i class="fa fa-expand" aria-hidden="true"></i>
						</div>
					</a>
					<div onclick="escape_model()" class="button-item">
						<span><i class="fa fa-times" aria-hidden="true"></i></span>
					</div>
				</div>
			</div>
			<div id="book-container"></div>
			<a onclick="change_page(-1)" class="carousel-control-btn carousel-control-prev" role="button" data-slide="prev">
				<i class="page-nav fa fa-chevron-left fa-2x" aria-hidden="true"></i>
			</a>
			<a onclick="change_page(1)" class="carousel-control-btn carousel-control-next" role="button" data-slide="next">
				<i class="page-nav fa fa-chevron-right fa-2x" aria-hidden="true"></i>
			</a>
			<div class="current-bar">
				<div id="pointer-container"></div>
			</div>
		</div>
		<div class="card-nav card-item col-1">
			<a onclick="change_book(-1)"><i class="item fa fa-angle-double-up fa-beat fa-2x" style="--fa-beat-scale: 1.2;" aria-hidden="true"></i></a>
			<div class="item-text">Up/Down</div>
			<div class="item-text">Để</div>
			<div class="item-text">Đổi</div>
			<div class="item-text">Series</div>
			<a onclick="change_book(1)"><i class="item fa fa-angle-double-down fa-beat fa-2x" style="--fa-beat-scale: 1.2;" aria-hidden="true"></i></a>
		</div>
		<div class="card-item col-6 container">
			<div class="series-item series-title">
				<div id="title-container">
				</div>
			</div>
			<div class="series-item series-content">
				<div id="content-container">
				</div>
			</div>
			<div class="series-item series-footer">
				<div id="footer-container">
				</div>
			</div>
			<div class="bot" style="display: block;position: absolute;top:100% ;height: 20%;width: 100%"></div>
		</div>
	</div>
</div>
<div class="d-none" id="page-model-container">
	<div id="page-model-background">
	</div>
	<div id="page-model" class="card-item col-4" data-ride="carousel">
	</div>
</div>

<script>
	//define
	api = 'series_data_slug'
	series_gender = 'series'
	get_cover_gender = 'get_volume_covers'
</script>
<script src="{% static 'js/query_series.js' %}"></script>
<script src="{% static 'js/page.js' %}"></script>
<script src="{% static 'js/model.js' %}"></script>

{% endblock %}