@media (max-width: 576px) {
	.navbar .container-fluid {
		max-width: 100% !important;
	}
}

.navbar .nav-item {
	display: inline-flex;
	align-items: stretch;
	position: relative;
	white-space: nowrap;
}

.dropdown-toggle {
	cursor: default;
}

.dropdown-toggle:after {
	content: "";
	display: inline-block;
	width: 0.5em;
	height: 0.5em;
	border: none;
	border-bottom: 1px solid white;
	border-right: 1px solid white;
	vertical-align: middle;
	line-height: 0;
	position: relative;
	bottom: 0px;
	margin-left: 1.5ch;
	transform: scaleY(1) rotate(45deg);
	transition: top 0.1s ease;
}

main {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 85em;
	margin: 0 auto;
	padding: 0 1em;
	padding-bottom: 3rem;
	padding-top: 0.5rem;
	align-items: flex-start;
	margin-top: 5em;
}

main a {
	color: inherit;
	outline: none;
}

.manga-card {
	display: block;
	border-radius: 5px;
	background: #141414;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
	overflow: hidden;
	margin: 0rem 0 1rem 0;
	color: #eee;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	font-size: 1em;
	flex-grow: 1;
	transform: translateZ(0);
}

.manga-card.bigg {
	min-height: 30em;
	background-attachment: fixed;
	background-position: 50% 0;
	background-size: 1500px;
	background-position: 50% 10%;
}

.manga-card.bigg picture img,
.manga-card.bigg > .picture {
    height:30em;
    width:20.4em;
}

@media (max-width: 768px) {
    .manga-card.bigg .picture {
        width: 7.5em;
        height: 11em;
    }
}

.manga-card {
	min-height: 9em;
}
.manga-card picture img { 
	height: 9em;
}

.manga-card:before {
	content:"";
	display: block;
	position: absolute;
	top: 4em;
	left: 4em;
	right: 4em;
	bottom: 4em;
	outline: 2px solid rgba(0,0,0,1);
	background: rgba(0,0,0,1);
	box-shadow: 0px 0px 4em 6em rgba(0,0,0,1);
	z-index: 0;
	opacity: 0.95;
	background-clip: padding-box;
}

.manga-card > * {
	z-index: 2;
	position: relative;
}

.manga-card > a.picture,
.manga-card > picture {
	display: inline-block;
	float: left;
	margin-right: 2em;
	z-index: 4;
}

.manga-card picture:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: 3em 3em 3em -3em rgba(10,10,10,0.7) inset;
}

.manga-card article {
	padding-top: 1em;
	padding-right: 2em;
	padding-left: 1em;
	padding-bottom: 1em;
	flex-direction: column;
}

.manga-card article h1 {
	font-size: 2em;
	line-height: 1.5;
	display: inline;
	margin-right: auto;
}
.manga-card article > a:hover h1 {
	text-decoration: underline;
}
.manga-card article h2 {
	font-size: 0.9em;
	color: #aaa;
	font-weight: normal;
	line-height: 1.5;
	margin-top: 0.5em;
}
.manga-card article p {
	margin: 0.4em 0 0 0;
	color: #ddd;
	font-size: 0.9em;
}

.manga-card .manga-links {
	margin: 0.5em 0 1em 0;
	display: inline-flex;
	flex-direction: column;
	max-width: 100%;
	min-width: 19em;
}
.manga-card .manga-links span {
	margin-left: -12px;
	display: flex;
}
.manga-card .manga-links span a:last-child {
	margin-right: 0;
}

.manga-card.bigg .manga-links.shill {
	color: #ddd;
}
.manga-card.bigg:before {
	content: unset;
}

.manga-card.proxy picture img {
	max-width: 6.5rem;
	min-width: 6.5rem;
	object-fit: cover;
}

.manga-link {
	display: inline-block;
	padding: 0.4em 1em 0.5em 0.75em;
	border: 1px solid rgba(255,255,255,0.2);
	border-radius: 0.2em;
	text-align: center;
	position: relative;
	font-size: 0.8em;
	margin: 0.75em 0 0 12px;
	user-select: none;
	color: white !important;
}

.manga-link img {
	height: 1em;
}

.season-selector {
	display: inline-block;
}

.manga-link.season {
	padding: 0.4em 0.8em 0.4em 1em;
	margin-top: 5px; /* For mobile */
	cursor: default;
}

.manga-link:hover {
	filter: brightness(1.3);
	background-color: #ffffff08;
}
.manga-link:hover:before {
	filter: brightness(0.8);
}

.manga-link.selected {
	filter: brightness(1.3);
	background-color: #ffffff08;
	border-color: #f00c;
}

.hidden {
	display: none;
}

.manga-link.full {
	flex-grow: 1;
	flex-shrink: 1;
	width: 100%;
}

.manga-link.chapter {
	font-size: 0.9rem;
	border-color: #f00c; 
	background-color: #c608082e;
	padding: 0;
	cursor: pointer;
	margin-left: 0;
	outline: none !important;
}
.manga-link.chapter > span {
	border-color: #f00c;
	padding: 0.4em 0.8em;
	display: inline-block;
	color: #ddd;
}
.manga-link.chapter .manga-link-chap {
	border-right: 1px solid #f00c;
	padding: 0.4em 0.5em;
}
.manga-link.chapter .manga-link-text {
	background: rgba(0,0,0,0.4);
}
.manga-link.chapter.no-chapter .manga-link-chap {
	display: none;
}


@keyframes shake {
  10%, 90% {
	filter: hue-rotate(0deg);
	transform: translate3d(-10px, 0, 0);
  }
  
  20%, 80% {
	transform: translate3d(20px, -25px, 0);
  }

  30%, 50%, 70% {
	filter: hue-rotate(180deg);
	transform: translate3d(-40px, 0, 0);
  }

  40%, 60% {
	transform: translate3d(34px, 12px, 0);
	filter: hue-rotate(360deg);
  }
}

.hidden {
	display: none;
}

.vis {
	display: block;
}

.tag {
	border-radius: 2px;
	border: 1px solid rgba(255,255,255,0.5);
	color: #aaa;
	font-size: 0.6em;
	padding: 0.1em 0.4em;
	white-space: nowrap;
	display: inline-block;
}


.page-series .series-content {
  border-radius: 4px;
  background-color: var(--blackFlag);
		background-attachment: fixed;
	 background-position: 50% 10%;
	  background-size: 1500px;
	  /*background-image: url('/static/img/bg_box_blur_smol.png');*/
  padding: 0;
}

.page-series .sidecard {
  background-color: #1a1a1a;
		background-attachment: fixed;
	 background-position: 50% 10%;
	  background-size: 1500px;
	  /*background-image: url('/static/img/bg_box_blur_smol.png');*/

}

.page-series .side-cover .media {
	border-top-left-radius: 3px;
	overflow: hidden;
	border-top-right-radius: 3px;
}

.page-series article {
	padding-bottom: 1.5em;
	padding: 1em 1.3em;
}
.page-series article h1 {
	color: white;
	font-size: 2em;
	margin-bottom: 0.5em;
}
.page-series article h2 {
	font-size: 0.9em;
	color: #aaa;
	font-weight: normal;
}
.page-series article p {
	margin-bottom: 0.5em;
	font-size: 1em;
}


.page-series article p {
	margin-bottom: 0;
	margin-top: 0.5em;
	font-size: 0.9em;
	color: #ccc;
}

.page-series article p:nth-of-type(1) {
	margin-top: 1.5em;
}


.page-series article picture {
	float: left;
	max-width: 10em;
	margin-right: 1.4em;
	border-radius: 4px;
	margin-bottom: 0.5em;
	display: none;
}



.page-series .card {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border: none;
}
.page-series .card-body {
	padding: 0.7em;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.page-series .table {
	color: #ddd;
}

.page-series #chapters th {
	white-space: nowrap;
	padding: 0 1em;
	line-height: 3em;
	font-weight: normal;
	font-size: 1em;
	border-bottom: 0;
	border-top: 0;
}
.page-series #chapters td {
	border-bottom: 0;
	border-top: 1px solid #444;
	box-shadow: none !important;
	outline: none !important;
}

.page-series #chapters a {
	text-decoration: none;
}

.page-series .read-icon {
	text-align: center;
	cursor: pointer;
	position: relative;
}
.page-series td.read-icon:hover {
	color: #eee;
}
.page-series .read-icon:before {
	font-family: guya;
	content:"";
}
.page-series th.read-icon.confirm:after {
	content: attr(data-tooltip);
	position: absolute;
	padding: 0.4em 0.6em;
	color: white;
	margin-left: 8px;
	margin-top: 4px;
	line-height: 1.5em;
	white-space: pre-wrap;
	text-align: left;
	width: 34ch;
	background: rgba(20,20,20,0.95);
	border-radius: 2px;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.7), 0px 2px 10px rgba(0,0,0,0.9);
	z-index: 3000;
	pointer-events: none;
	border: 1px solid rgba(255,255,255,0.1)
}

.is-read {
	opacity: 0.6;
}
.is-read .read-icon:before,
.page-series .all-read:before {
	content:"";
}

.page-series .btn-group {
	display: flex;
	height: 3em;
	width: 100%;
}
.page-series .btn-group .btn {
	outline: none !important;
	border: none !important;
	border-radius: 0 !important;
	box-shadow: none !important;
	padding: 0;
	border-bottom: 1px solid transparent !important;
}
.page-series .btn-group .btn.s {
	border-bottom: 1px solid #bbb !important;
	box-shadow: 0px -34px 20px -40px #bbb inset !important;
	color: white;
}
.page-series .btn-group .btn:not(.s):hover {
	box-shadow: 0px -35px 20px -40px #666 inset !important;
	border-bottom: 1px solid #666 !important;
}
.page-series .btn-group a {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 1em;
	text-decoration: none;
}

.page-series .btn-group a i {
	font-size: 1.5em;
}

.page-series #chapterTitleSearch {
	border: none !important;
	background:	rgba(0,0,0,0.2) !important;
	border-radius: 0 !important;
	line-height: inherit;
	height: 3em;
	color: white;
	padding-left: 1em;
}

.page-series #chapterTitleSearch::placeholder {
	color: rgba(255,255,255,1);
	opacity: 0.6;
}

.page-series .card table {
	margin-bottom: 0;
}

.page-series .detailed-chapter-upload-date {
	text-align: center;
}

#compactView .card {
	background: none;
	padding: 0;
}
#compactView .card-title {
	color: white;
	padding: 0 0 1em 1em;
	border-bottom: 1px solid #555;
}
#compactView .card .chapter-number {
	font-size: 1.3em;
}
#compactView .card .compact-chapter-upload-date,
#compactView .card .chapter-group {
	color: #aaa !important;
}
#compactView .card .row {
	margin: 0 !important;
}
#compactView .card .col-3 {
	padding: 0 !important;
}
#compactView .card .col-3 a {
	text-decoration: none !important;
	padding: 1em;
	display: block;
}
#compactView .card .col-3 a:hover {
	background: rgba(255,255,255,0.1);
}

#volumeCoversView {
	display: flex;
	flex-wrap: wrap;
}
#volumeCoversView a {
	display: block;
	flex-grow: 1;
	flex-shrink: 1;
	min-width: 14em;
	flex-basis: 0;
	padding: 1em;
	max-width: 16em;
}
#volumeCoversView a img {
	height: 100%;
	width: 100%;
}

.yeet {
	position: relative;
	display: none;
	font-size: 1.2em !important;
	/* padding-right: 1em; */
	font-style: italic;
	padding-left: 2.2em;
	margin-top: 1em !important;
}

.yeet:before {
	content: '“';
	font-family: Vollkorn;
	font-size: 4em;
	position: relative;
	float: left;
	top: -18px;
	opacity: 0.6;
	height: 1em;
	margin-right: 16px;
	font-style: italic;
}

@media (max-width: 768px) {
	.manga-card {
		
		flex-direction: column;
	}
	.manga-card.bigg picture img {
		height: 11em;
		width: auto;
		border-bottom-right-radius: 0.5em;
	}
	.manga-card.bigg .manga-links {
		min-width: 100%;	
	}
	.manga-card.bigg .manga-links.shill span {
			display: flex;
			flex-wrap: wrap;
	}
	.manga-card.bigg .manga-links.shill span * {
			flex-grow: 1;
	}

	.manga-card.smol {
		min-width: 100%;
		margin-right: 0;
		margin-left: 0;
	}
	.manga-link.tachiyom,
	.manga-link.after-anime {
		font-size: 0.8em;
		padding-top: 0.6em;
	}
	.chapter-listing {
		font-size: 0.9em;
	}
	.page-series article picture {
		display: inline-block;

	}
	.page-series article table {
		max-width: 10em;
		width: 10em;
		min-width: 13em;
		display: table !important;
		float: left;
			clear: both;
			margin-right: 1.3em;
	}
	.page-series .side-cover {
		display: none;
	}


	.spiel .img-aside {
		float: none;
		max-height: 80vh;
		max-width: 100% !important;
		margin: 0 auto;
		display: block;
		margin-bottom: 1rem;
	}

	.spiel .bullet-card {
		max-width: 90%;
	}
}

@media (min-width: 1000px) {
	.manga-card .manga-links {
		min-width: 37em;
	}
}
@media (min-width: 1400px) {
	body {
		font-size: 1.1em;
	}
}

.misc_pages_list body {
	display: block !important;
}

.text-article {
	padding: 0 2em;
	width: 100%;
	max-width: 70rem;
	box-sizing: border-box;
	margin: 0rem auto 1rem;
	display: flex;
	flex-direction: column;
	line-height: 1.6;
	font-size: 1.2em;
	background: #111;
	color: #ddd;
	font-family: "Open Sans", sans-serif;
	position: relative;
}

.text-article h1,
.text-article h2,
.text-article h3,
.text-article h4,
.text-article h5 {
	font-family: "Vollkorn";
	color: white;
	margin-top: 0.5em;
	font-weight: 400;
	margin-bottom: 0.2em;
	line-height: 1.3;
}

.text-article h1 {
	font-size: 2.5em;
}
.text-article h2 {
	font-size: 1.8em;
	text-align: center;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 0.3em 4em 0.2em;
	margin-top: 1.5em;
	margin-bottom: 0em;
}

.text-article * {
	box-sizing: border-box;
}
.text-article > * {
	display: flex;
	flex-direction: column;
}

.text-article p, .text-article dd, .text-article dt {
	display: block;
}

.cover-image-wrap {
	width: 100%;
	text-align: center;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.cover-image-wrap:before {
	content: "";
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.cover-image {
	max-width: 1350px;
	max-height: 80vh;
	position: relative;
}

.text-article i, .text-article a {
	display: inline;
}
.text-article a {
	color: #f45353;
}

.text-article figure img {
	max-width: 1450px;
	align-self: center;
	max-height: 80vh;
}
.text-article figure.double-image {
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}
.text-article figure.double-image img {
	max-width: 725px;
}


@media (max-width: 1450px) {
	.cover-image {
		max-width: 100%;
	}
	.text-article figure img {
		max-width: 94vw !important;
	}
}

.text-article blockquote {
	padding-left: 1em;
	border-left: 2px solid gray;
}

.text-article figure {
	padding-top: 1em;
}

.text-article figcaption {
	text-align: center;
	font-size: 0.9em;
	padding: 0 2em;
	padding-top: 1em;
	font-style: italic;
	opacity: 0.8;
}
.text-article time {
	font-size: 0.8em;
	font-style: italic;
	opacity: 0.8;
}
.text-article .caption {
	text-align: center;
	font-size: 0.9em;
	padding: 0 2em;
	padding-top: 1em;
	font-style: italic;
	opacity: 0.8;
}

.text-article dt,
.text-article dd {
	display: block;
}

.text-article dt {
	margin-bottom: 0.5rem;
	margin-top: 1.5em;
}

.text-article dt:before {
	content: "――";
	letter-spacing: -0.4em;
	margin-right: 1em;
}

.text-article .twitter-tweet {
	margin: 0 auto;
}
.text-article .embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	margin: 1em;
}
.text-article .embed-container iframe,
.text-article .embed-container object,
.text-article .embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	max-height: 88vh;
}

.spoiler-warning {
	display: inline-block;
	margin: 0.6em auto 1em auto;
	font-size: 1.1em;
	line-height: 1;
	border: 2px dashed #f48021;
	color: #ffd585;
	border-radius: 4px;
	padding: 1em 2em;
	text-align: center;
	user-select: none;
	cursor: default;
}

.pages-listing {
	max-width: 1450px;
}

.pages-listing h1 {
	font-family: Vollkorn;
	color: white;
	text-align: center;
	margin-bottom: 0.7em;
}

.pages-listing .manga-card {
	display: flex;
	border-radius: 6px;
}

.pages-listing .manga-card.smol picture {
	background-position: center center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	min-width: 15rem;
	max-width: 15rem;
}

.pages-listing .manga-card:before {
	opacity: 0.98;
}
.pages-listing .manga-card:hover:before {
	opacity: 0.95;
}
.pages-listing .manga-card .spoiler-warning {
	font-size: 11px;
	border-width: 1px;
	display: inline-block;
	width: auto;
	margin: 0;
	padding: 0.6em 1em;
}

.manga-card picture::after {
	box-shadow: 0em 0em 4em 1em rgba(10,10,10,0.7) inset;
	background: rgba(0,0,0,0.7);
	z-index: -1;
}
.pages-listing .manga-card picture img {
	width: 100%;
	height: auto;
}

.pages-listing .manga-card blockquote {
	margin: 0;
}
.pages-listing .manga-card time {
	opacity: 0.6;
	font-size: 0.6em;
	display: inline-block;
	margin-left: 1em;
}

.pages-listing .manga-card article .embed-container, 
.pages-listing .manga-card article img {
	display: none;
}
.pages-listing .manga-card article h1,
.pages-listing .manga-card article h2,
.pages-listing .manga-card article h3,
.pages-listing .manga-card article h4,
.pages-listing .manga-card article h5,
.pages-listing .manga-card article h6,
.pages-listing .manga-card article b,
.pages-listing .manga-card article strong {
	font-size: 0.9em;
	font-weight: normal;
	color: inherit;
}
.pages-listing .manga-card article h2:first-child {
	font-size: 1.6em;
	font-weight: normal;
	font-family: Vollkorn, serif;
	color: white;
}

@media (max-width: 992px) {
	.light-mode-toggle {
		position: fixed;
		top: 0.8rem;
		left: 1rem;
		right: 0;
		z-index: 11000;
	}
}

.splash-notice {
    padding: 0.4em 1em 0.6em 1em;
    text-align: center;
    border: 1px dashed rgba(255, 255, 255, 0.74);
    flex-grow: 1;
    margin: 1rem auto;
	display: inline-block;
	max-width: 20em;
    background: #e16a6a38;
    font-size: 1.1rem;
    color: white;
    border-radius: 6px;
}