*{
    box-sizing: border-box;
    /* margin: 0; */
    /* padding: 0; */
}

main {
	width: fit-content;
}


.body-container{
    width: 100%;
}

.all-series-wrapper{
    width: fit-content;
}

.series-container{
    width: max-content;
    height: max-content;
    text-align: center;
    padding: 0 2em 0.1em 2em;
    margin-bottom: 5em;
    background-color: var(--blackLight);
    border-radius: 1em;
    box-shadow: 0 10px 20px black;
}

.divider-wrapper{
    align-items: center;
}

.line{
    width: 35%;
    height: 0.5px;
    background-color: rgb(255, 255, 255);
    margin: 0.5rem 0.5rem 0.5rem 10px;
    /* align-self: center; */
}

.series-type{
    transform: translateY(-0.6em);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: brown;
}

.divider-element{
    display: inline-flex;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: white;
    align-self: center;
    margin-bottom: 10px;
}


.series-wrapper{
    height: 180px;
    margin-bottom: 6em;
}

.image-card{
    position: relative;
    display: inline-flex;
    height: fit-content;
    background-color: rgb(218, 29, 29);
    border-radius: 5px;
}

.image-card img{
    position: relative;
    vertical-align: baseline;
    max-width: 1000px;
    height: auto;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    border-radius: 5px;
}

.volumes-wrapper{
    display: block;
}

.volumes-wrapper ul{
    position: relative;
    max-height: 50px;
    margin-top: 10px;
    width: 100%;
}

.volume-item{
    background-color: rgb(189, 11, 11);
    display: flex;
    color: white;
    font-size: large;
    font-weight: 700;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
    height: 5em;
    width: 2.8em;
    line-height: 1.3em;
    padding: 0.3em 0.3em 0 0.3em;
    border-radius: 5px 5px 0 0;
    border: solid 3px var(--borderColor);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 70%, 0 100%);
    margin-left: 20px;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
}

.volume-item.read{
    opacity: 0.5;
    border: solid 3px var(--focusCol);
}