*{
    box-sizing: border-box;
    /* margin: 0; */
    /* padding: 0; */
}

main {
    position: relative;
    margin-top: 7rem;
    min-height: 120vh;
}

.all-series-container{
    position: relative;
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.group-series-container{
    width: 80%;
    text-align: center;
    padding: 0 2em 0.1em 2em;
    margin-bottom: 5em;
    background-color: var(--blackLight);
    border-radius: 1em;
    box-shadow: 0 10px 20px black;
}

.pair-series{
    max-height: max-content;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.line{
    width: 30%;
    height: 0.5px;
    background-color: rgb(255, 255, 255);
    margin: 0.5rem 0.5rem 0.5rem 10px;
    /* align-self: center; */
}

.series-type{
    transform: translateY(-0.6em);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--accentCol);
}

.divider-element{
    display: inline-flex;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: white;
    align-self: center;
    margin-bottom: 10px;
}


.series-container{
    margin-bottom: 6em;
    height: 450px;
    width: calc(50% - 20px);
    min-width: 400px;
    display: flex;
    background-color: var(--blackFlag);
    border-left: solid 5px var(--accentCol);
    border-radius: 5px;
}

.series-content{
    width: 100%;
    text-align: center;
}

.series-title{
    display: block;
    width: 100%;
    padding: 0 0.5em;
    font-size: 1.4em;
    color: var(--textCol);
    height: max-content;
}

.series-title::after{
    margin: 0.35em auto 0 auto;
    content: "";
    display: block;
    width: 80%;
    height: 0.5px;
    background-color: var(--accentCol); 
}


.series-card picture img{
    height: 320px;
    width: 225px;
    margin-right: 3px;
    border-top: solid 1px var(--accentCol);
    border-bottom: solid 1px var(--accentCol);
    border-radius: 0 5px 5px 0;
}

.series-card .btn-group{
    display: flex;
	height: 3em;
	width: 80%;
    margin: 1em auto;
}

.series-card .btn-group.btn{
    padding: 0;
    border-color: #f00c;
    background-color: #c608082e !important;
}

.series-card .btn-group.btn span{
    font-size: 1.18em;
    display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 1em;
    width: 100%;
    color: var(--textCol);
	text-decoration: none;
    flex-grow: 1;
    flex-shrink: 1;
}


.series-card .btn-group.btn:hover{
    background-color: #c6080891;
    cursor: pointer;
}

.series-card .btn-group.btn span:hover{
    color: var(--textCol);
}

.volumes-container{
    display: block;
}

.volumes-container ul{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    max-height: 50px;
    margin-top: 5px;
    width: 100%;
    padding: 0 0 0 1.5em;
}

.volume-item{
    display: block;
    color: white;
    height: 1.7rem;
    width: 6rem;
    text-align: center;
    margin-right: 10px;
    margin-top: 10px;
}

.volume-item a{
    position: relative;
    height: 100%;
    width: 100%;
}

.volume-item a:hover{
    text-decoration: none;
}

@media (max-width: 992px){
    .pair-series{
        justify-content: center;
    }
}

@media (max-width: 768px) {

    .series-card picture img{
        max-height: 213px;
        max-width: 150px;
    }
}


@media (max-width: 540px){
    .all-series-container{
        padding: 10px;
    }
    .series-container{
        width: 28rem;
        height: 20rem;
        font-size: xx-small;
    }

    .series-card{
        width: 16rem;
    }

    .series-card picture{
        margin: 0.5rem;
        margin-left: 1.2rem;
    }

    .series-card picture img{
        height: 256px;
        width: 180px;
        border-radius: 0;
    }

    .series-content{
        width: 17rem;
        margin: 0;
    }

    .volume-item{
        width: 4rem;
        height: 1.4rem;
        padding: 0.3em;
    }
}