{% load static %}
<head>
    <script src="https://kit.fontawesome.com/75d6000ca7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/comment.css' %}{{ version_query }}">
</head>
<div class="comment-wrapper hidden" data-bind="comment_section">
    {% load mptt_tags %}
    {% if request.user.is_authenticated %}
    <div class="comment-dialog deepth-0">
        <div class="comment-avt">
            <a href="/user/{{ request.user.username }}">
                <img src="{{ request.user.profile.avatar }}" alt="avatar" class="comment-img">
            </a>
        </div>
        <div class="box-comment">
            <textarea class="comment-editor" placeholder="Viết bình luận" onfocus="ediorFocusHandler(this)"></textarea>
            <div class="comment-button-group">
                <div type="button">
                    <i class="fa-solid fa-image"></i>
                </div>
                <div type="button" class="comment-button-submit"
                 onclick="postCommentHandler(this)"
                >
                    <i class="fa-solid fa-comment"></i>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <ul>
        {% recursetree comments %}
        <li>
            <div class="comment-container deepth-{{ node.deepth}}"
                comment-id="{{ node.id }}" deepth="{{ node.deepth }}"
                username = "{{ node.author.user.username }}"
                display-name="{{ node.author.display_name }}"
            >
                <div class="comment-avt">
                    <a href="/user/{{ node.author.user.username }}">
                        <img src="{{ node.author.avatar}}" alt="avatar" class="comment-img">
                    </a>
                </div>
                <div class="comment-content">
                    <span class="comment-username">
                        {{ node.author.display_name }}
                    </span>
                    <p>{{ node.content }}</p>
                    {% if request.user.is_authenticated %}
                    <div class="comment-bottom">
                        <h5 class="comment-reply" onclick="replyHandler(this, event)">
                            trả lời
                        </h5>
                        <span class="time hidden">{{ node.created_on }} </span>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% if not node.is_leaf_node %}
            <ul>{{ children }}</ul>
            {% else %}
            <ul></ul>
            {% endif %}
        </li>
        {% endrecursetree %}
    </ul>
</div>
<script>
    function $(className){
        return [...document.getElementsByClassName(className)];
    }
    function zpad(n) {
		if (n < 10) return '0' + n;
		return n;
	}
    let now = new Date();
    function truncTime(TimeString){
        const arr = TimeString.trim().split(/[\s\D]+/g).map(e => Number(e));
        const commentTime = new Date(Date.UTC(arr[0], arr[1] - 1, arr[2], arr[3], arr[4], arr[5]));
        let delta = Math.abs(now - commentTime)/1000;
        let days = Math.floor(delta / 86400);
        delta -= days * 86400;

        let hours = Math.floor(delta / 3600) % 24;
        delta -= hours * 3600;

        let minutes = Math.floor(delta / 60) % 60;
        delta -= minutes * 60;
        let seconds = parseInt(delta % 60);

        if (days >= 7) {
            return `${zpad(commentTime.getDate())}-${zpad(commentTime.getMonth() + 1)}-${commentTime.getFullYear()}`;
        }
        else if (days < 7 && days > 0) {
            return`${days} ngày trước`;
        }
        else if (hours > 0) {
            return `${hours} giờ trước`;
        }
        else if (minutes > 0) {
            return `${minutes} phút trước`;
        }
        else if (seconds > 0) {
            return`${seconds} giây trước`;
        }
        return TimeString;
    }
    $("time").forEach(ele => {
        ele.textContent = truncTime(ele.textContent);
        ele.classList.remove("hidden");
    });
</script>
<script type="text/javascript">
    const wrapper = document.querySelector(".comment-wrapper[data-bind='comment_section'] > ul");
    wrapper.append(...Array.from(wrapper.childNodes).reverse());
    const article = "{{ article }}";

    function ediorFocusHandler(ele){
        ele.addEventListener('keydown', e => {
            e.stopImmediatePropagation();
        });
    }
    function replyHandler(ele, event){
        let container = ele.parentElement.parentElement.parentElement;
        if(container.classList.contains('deepth-2')){
            container = container.parentElement.parentElement.previousElementSibling;
        }
        const deepth = Number(container.getAttribute('deepth'));
        const username = container.getAttribute('username');
        const display_name = container.getAttribute('display-name');
        const commentId = container.getAttribute("comment-id");
        container = container.nextElementSibling;
        const reply = document.createElement('li');
        reply.innerHTML = `
        <div class="comment-dialog deepth-${deepth+1}">
            <div class="comment-avt">
                <a href="/user/{{ request.user.username }}">
                    <img src="{{ request.user.profile.avatar }}" alt="avatar" class="comment-img">
                </a>
            </div>
            <div class="box-comment">
                <textarea class="comment-editor" placeholder="đang trả lời ${display_name}" onfocus="ediorFocusHandler(this)"></textarea>
                <div class="comment-button-group">
                    <div type="button">
                        <i class="fa-solid fa-image"></i>
                    </div>
                    <div type="button" class="comment-button-submit"
                        mention="${username}" parent=${commentId}
                    >
                        <i class="fa-solid fa-comment"></i>
                    </div>
                </div>
            </div>
        </div>
        `;
        container.appendChild(reply);
        reply.scrollIntoView({ behavior: "smooth", block: "end", inline: "nearest" });
    }

    function postCommentHandler(ele){
        const content = ele.parentElement.previousElementSibling.value;
        if(!content) return;
        ele.parentElement.previousElementSibling.value = '';
        const mention = ele.getAttribute("mention") || '';
        const parent = ele.getAttribute("parent") || '-1';
        const formBody = new FormData();
        formBody.append('article', article);
        formBody.append('mention', mention);
        formBody.append('parent', parent);
        formBody.append('content', content);
        formBody.append('csrfmiddlewaretoken', "{{ csrf_token }}");
        fetch("/api/comment/",{
            method: "POST",
            body: formBody,
        });
    }
</script>
<script src="{% static 'js/socket/comment.js' %}{{ version_query }}"></script>