{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/comment.css' %}{{ version_query }}">
    <script>
        var requestUsername = "{{ request.user.username }}";
        var requestDisplayName = "{{ request.user.profile.display_name }}";
        var requestAvatar = "{{ request.user.profile.avatar }}";
    </script>
</head>
<div class="comment-wrapper hidden" data-bind="comment_view">
    {% load mptt_tags %}
    {% if request.user.is_authenticated %}
    <div class="comment-box-container"></div>
    {% endif %}
    <ul class="comment-list" comment-id="-1">
        {% recursetree comments %}
        <li>
            <div class="comment-container deepth-{{ node.deepth}}"
                data-id="{{ node.id }}" data-parent="{{ node.parent.id }}" data-deepth="{{ node.deepth }}"
                data-time="{{ node.created_on }}" data-username="{{ node.author.user.username }}"
                data-display-name="{{ node.author.display_name }}" data-avatar="{{ node.author.avatar }}"
                data-content="{{ node.content }}" data-media="{{ node.media_url }}"
                data-bind="comment_node"
            >
            </div>
            {% if not node.is_leaf_node %}
            <ul class="comment-list" comment-id="{{ node.id }}">{{ children }}</ul>
            {% else %}
            <ul class="comment-list" comment-id="{{ node.id }}"></ul>
            {% endif %}
            <div class="comment-box-container" comment-id="{{ node.id }}"></div>
        </li>
        {% endrecursetree %}
    </ul>
</div>
<div id="image-modal"></div>
<script>
    function zpad(n) {
		if (n < 10) return '0' + n;
		return n;
	}
    let now = new Date();
    function convertTime(TimeString){
        const arr = TimeString.trim().split(/[\s\D]+/g).map(e => Number(e));
        const commentTime = new Date(Date.UTC(arr[0], arr[1] - 1, arr[2], arr[3], arr[4], arr[5]));
        let delta = Math.abs(now - commentTime)/1000;
        let days = Math.floor(delta / 86400);
        delta -= days * 86400;

        let hours = Math.floor(delta / 3600) % 24;
        delta -= hours * 3600;

        let minutes = Math.floor(delta / 60) % 60;
        delta -= minutes * 60;
        let seconds = parseInt(delta % 60);

        if (days >= 7) {
            return `${zpad(commentTime.getDate())}-${zpad(commentTime.getMonth() + 1)}-${commentTime.getFullYear()}`;
        }
        else if (days < 7 && days > 0) {
            return`${days} ngày trước`;
        }
        else if (hours > 0) {
            return `${hours} giờ trước`;
        }
        else if (minutes > 0) {
            return `${minutes} phút trước`;
        }
        else if (seconds > 0) {
            return`${seconds} giây trước`;
        }
        return TimeString;
    }
</script>
<script type="text/javascript">
    const article = "{{ article }}";
    const csrf_token = "{{ csrf_token }}";
</script>