{% load static %}
<!DOCTYPE html>
<html class="home h-100" lang="vi" class="bg-dark h-100">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link defer rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}{{ version_query }}">
	<link rel="stylesheet" href="{% static 'css/index.css' %}{{ version_query }}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
	<script src="{% static 'js/jquery.min.js' %}{{ version_query }}"></script>
	<script src="{% static 'js/alg_lib.js' %}{{ version_query }}"></script>
	<script defer src="{% static 'js/bootstrap.min.js' %}{{ version_query }}"></script>
	{% if canonical_url %}
	<link rel="canonical" href="{{ canonical_url }}" />
	{% else %}
	<link rel="canonical" href="{{ absolute_url }}" />
	{% endif %}
	<link rel="manifest" href="{% static 'manifest.json' %}{{ version_query }}">
	<link rel="shortcut icon" sizes="128x128" type="image/png" href="{% static 'favicon.ico' %}{{ version_query }}"
		defer />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="theme-color" content="#2b2f33" />
	<meta name="format-detection" content="telephone=no">
	{% block meta %}
	{% if page_title %}
	<title>{{ page_title }}</title>
	{% else %}
	{% if template == "home" %}
	<title>{{ home_brand.name }}</title>
	<meta name="twitter:description" content="{{ home_brand.description }}" />
	<meta property="og:description" content="{{ home_brand.description }}" />
	<meta name="description" content="{{ home_brand.description }}">
	{% else %}
	<title>{{ brand.name }}</title>
	<meta name="twitter:description" content="{% firstof page_description brand.description %}" />
	<meta property="og:description" content="{% firstof page_description brand.description %}" />
	<meta name="description" content="{% firstof page_description brand.description %}">
	{% endif %}
	{% endif %}

	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="{% firstof page_title brand.name %}" />
	{% if embed_image %}
	<meta name="twitter:image" content="{{ embed_image }}" />
	<meta property="og:image" content="{{ embed_image }}">
	{% else %}
	<meta name="twitter:image" content="{{ brand.image_url }}" />
	<meta property="og:image" content="{{ brand.image_url }}">
	{% endif %}
	<meta property="og:url" content="{{ absolute_url }}">
	{% endblock %}
	{% block head %} {% endblock %}
	{% include "history.html" %}
</head>

<body>
	{% include "tracking.html" %}
	{% load cache %} {% cache 1 sidebar %}
	<div class="dashboard-header">
		<nav class="navbar navbar-expand-lg fixed-top">
			<a class="navbar-brand" href="/">Youzitsu</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse " id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto navbar-right-top">
					<li class="nav-item">
						<div id="custom-search" class="top-search-bar">
							<input class="form-control" type="text" placeholder="Search..">
						</div>
					</li>
					<li class="nav-item dropdown connection">
						<a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-fw fa-th"></i> </a>
						<ul class="dropdown-menu dropdown-menu-right connection-dropdown">
							<li class="connection-list">
								<div class="row">
									<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
										<a href="#" class="connection-item"><img src="https://img.icons8.com/nolan/100/000000/github.png" alt="" > <span>Github</span></a>
									</div>
									<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
										<a href="#" class="connection-item"><img src="https://img.icons8.com/color/100/000000/dribbble.png" alt="" > <span>Dribbble</span></a>
									</div>
									<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
										<a href="#" class="connection-item"><img src="https://img.icons8.com/color/100/000000/dropbox.png" alt="" > <span>Dropbox</span></a>
									</div>
								</div>
								<div class="row">
									<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
										<a href="#" class="connection-item"><img src="https://img.icons8.com/color/100/000000/bitbucket.png" alt=""> <span>Bitbucket</span></a>
									</div>
									<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
										<a href="#" class="connection-item"><img src="https://img.icons8.com/color/100/000000/remove-ads.png" alt="" ><span>Facebook ads</span></a>
									</div>
									<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
										<a href="#" class="connection-item"><img src="https://img.icons8.com/wired/64/000000/slack.png" alt="" > <span>Slack</span></a>
									</div>
								</div>
							</li>
							<li>
								<div class="conntection-footer"><a href="#">More</a></div>
							</li>
						</ul>
					</li>
					<li class="nav-item dropdown notification">
						<a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-bell"></i> <span class="indicator"></span></a>
						<ul class="dropdown-menu dropdown-menu-right notification-dropdown">
							<li>
								<div class="notification-title"> Thông báo </div>
								<div class="notification-list">
									<div class="list-group">
										<a href="#" class="list-group-item list-group-item-action active">
											<div class="notification-info">
												<div class="notification-list-user-img"><img src="https://img.icons8.com/office/100/000000/administrator-female.png" alt="" class="user-avatar-md rounded-circle"></div>
												<div class="notification-list-user-block"><span class="notification-list-user-name">Kikyou</span>accepted your invitation to join the team.
													<div class="notification-date">2 min ago</div>
												</div>
											</div>
										</a>
										<a href="#" class="list-group-item list-group-item-action">
											<div class="notification-info">
												<div class="notification-list-user-img"><img src="https://img.icons8.com/color/48/000000/administrator-female.png" alt="" class="user-avatar-md rounded-circle"></div>
												<div class="notification-list-user-block"><span class="notification-list-user-name">Kei</span>updated the email address
													<div class="notification-date">2 days ago</div>
												</div>
											</div>
										</a>
										<a href="#" class="list-group-item list-group-item-action">
											<div class="notification-info">
												<div class="notification-list-user-img"><img src="https://img.icons8.com/color/100/000000/name.png" alt="" class="user-avatar-md rounded-circle"></div>
												<div class="notification-list-user-block"><span class="notification-list-user-name">Nyagami</span> is watching your main repository
													<div class="notification-date">2 min ago</div>
												</div>
											</div>
										</a>
									   
									</div>
								</div>
							</li>
							<li>
								<!-- <div class="list-footer"> <a href="#">View all notifications</a></div> -->
							</li>
						</ul>
					</li>
					<li class="nav-item dropdown nav-user">
						<div id="is-not-authenticated">
							<a class="nav-link login-button" style="width: 8rem;" role="button" href="/user/login">
								<i class='fas fa-user fa' style='color:#1d1f20'></i>&nbsp;
								Đăng nhập
							</a>
						</div>
						<div id="is-authenticated" class="d-none">
							<a class="nav-link nav-user-img-sm" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="https://img.icons8.com/dusk/100/000000/user-female-circle.png" alt="" class="user-avatar-md rounded-circle"></a>
							<div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
								<div class="nav-user-info">
									<h5 class="mb-0 text-white nav-user-name">Nyagami</h5>
									<span class="status"></span><span class="ml-2">Available</span>
								</div>
								<a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Account</a>
								<a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Setting</a>
								<a class="dropdown-item" href="/user/logout"><i class="fas fa-power-off mr-2"></i>Logout</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</nav>
	</div>
	<script>
		var links = document.querySelectorAll('header .nav-link');
		[].forEach.call(links, link => {
			if (link.classList.contains('dropdown-toggle')) {
				var items;
				if (link.nextElementSibling)
					items = link.nextElementSibling.children;
				else
					return;
				for (var i = 0; i < items.length; i++) {
					if (document.location.href.indexOf(items[i].href) > -1) {
						link.classList.add('s');
					}
				}
			} else {
				if (document.location.href.indexOf(link.href) > -1)
					link.classList.add('s')
			}
		});

		function autosize() {
			var el = this;
			setTimeout(function() {
				el.style.height = "";
				el.style.height = Math.min(el.scrollHeight, 500) + "px";
				el.nextElementSibling.style.top = Math.min(el.scrollHeight, 500) + "px";
			}, 0);
		}

	</script>
	{% endcache %} {% block body %} {% endblock %}
	<script>
		isiOSAux = (window.navigator.standalone == true);
		if (isiOSAux) {
			var aList = document.getElementsByTagName("a");
			for (var i = 0; i < aList.length; i++) {
				if (!aList[i].onclick
					&& aList[i].href.length > 0
					&& aList[i].href.indexOf(document.location.origin) > -1) {
					aList[i].onclick = function () {
						window.location = this.getAttribute("href");
						return false;
					}
				}
			}
		}
	</script>
	<script type="text/javascript">
		fetch("/api/get_user_info").then(req => req.json()).then(data => {
			if(data["is_authenticated"]){
				document.getElementById("is-authenticated").classList.remove("d-none");
				document.getElementById("is-not-authenticated").classList.add("d-none");
			}else{
				document.getElementById("is-authenticated").classList.add("d-none");
				document.getElementById("is-not-authenticated").classList.remove("d-none");
			}
		})
	</script>
</body>

</html>