{% load static %}
<!DOCTYPE html>
<html class="home h-100" lang="vi" class="bg-dark h-100">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link defer rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}{{ version_query }}">
	<link rel="stylesheet" href="{% static 'css/index.css' %}{{ version_query }}">
	<script src="https://kit.fontawesome.com/75d6000ca7.js" crossorigin="anonymous"></script>
	<script src="{% static 'js/jquery.min.js' %}{{ version_query }}"></script>
	<script src="{% static 'js/alg_lib.js' %}{{ version_query }}"></script>
	<script defer src="{% static 'js/bootstrap.min.js' %}{{ version_query }}"></script>
	{% if canonical_url %}
	<link rel="canonical" href="{{ canonical_url }}" />
	{% else %}
	<link rel="canonical" href="{{ absolute_url }}" />
	{% endif %}
	<link rel="manifest" href="{% static 'manifest.json' %}{{ version_query }}">
	<link rel="shortcut icon" sizes="128x128" type="image/png" href="{% static 'favicon.ico' %}{{ version_query }}"
		defer />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="theme-color" content="#2b2f33" />
	<meta name="format-detection" content="telephone=no">
	{% block meta %}
	{% if page_title %}
	<title>{{ page_title }}</title>
	{% else %}
	{% if template == "home" %}
	<title>{{ home_brand.name }}</title>
	<meta name="twitter:description" content="{{ home_brand.description }}" />
	<meta property="og:description" content="{{ home_brand.description }}" />
	<meta name="description" content="{{ home_brand.description }}">
	{% else %}
	<title>{{ brand.name }}</title>
	<meta name="twitter:description" content="{% firstof page_description brand.description %}" />
	<meta property="og:description" content="{% firstof page_description brand.description %}" />
	<meta name="description" content="{% firstof page_description brand.description %}">
	{% endif %}
	{% endif %}

	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="{% firstof page_title brand.name %}" />
	{% if embed_image %}
	<meta name="twitter:image" content="{{ embed_image }}" />
	<meta property="og:image" content="{{ embed_image }}">
	{% else %}
	<meta name="twitter:image" content="{{ brand.image_url }}" />
	<meta property="og:image" content="{{ brand.image_url }}">
	{% endif %}
	<meta property="og:url" content="{{ absolute_url }}">
	{% endblock %}
	{% block head %} {% endblock %}
	{% include "history.html" %}
</head>

<body>
	{% include "tracking.html" %}
	{% load cache %} {% cache 1 sidebar %}
	<header>
        <nav class="fixed-top">
            <ul class="nav-list">
                <li class="list-item-branch-logo">
					<a href="/" id="home">
						<img src="{% static 'img/logo/logo.png' %}" alt="logo">
					</a>
				</li>
                <li> 
					<button id="search_btn" class=""> 
						<i class="fas fa-search" id="id-search-icon"></i> 
						<div class="search-input">
							<input class="form-control" id="id-search-input" placeholder="Tìm kiếm gì đó..." type="text">
						</div>
						<span class="input-clear" id="id-input-clear"></span>
					</button> 
				</li>
                <li id="space"></li>
                <!-- <li> 
					<button class="tooltip" data-tooltip="Message" id="btn_msg">
						<i class="fas fa-message"></i>
					</button>
				</li> -->
                <li>
					<button class="tooltip" data-tooltip="Notification" id="btn_bell">
						<i class="fas fa-bell"></i><span class="indicator"></span>
					</button>
					<div class="nav-menu">
						<div class="list-title">
							<h5>Thông báo</h5>
							<a href="#" id="read-all-noti">Đã đọc hết</a>
						</div>
						<div class="list-group">
							<ul class="nav-menu-list">
								<li class="nav-menu-item">
									<a href="#" class="noti-link">
										<img src="{% static 'img/unknow_user.jpeg' %}" class="rounded-circle user-avatar-lg" alt="user">
										<div class="noti-body">
											<div class="noti-content">
												<span class="user-fullname">Kei</span>
												Mồ ~
												<br>
												Kiyotaka lại lôi mình vào vụ phiền phức này...
											</div>
											<span class="noti-time not-read">5 giây trước</span>
										</div>
									</a> 
								</li>
								<li class="nav-menu-item">
									<a href="#" class="noti-link">
										<img src="{% static 'img/unknow_user.jpeg' %}" class="rounded-circle user-avatar-lg" alt="user">
										<div class="noti-body">
											<div class="noti-content">
												<span class="user-fullname">Kiyotaka</span>
												Chào mừng bạn đến với 'Lớp học đề cao thực lực!'
											</div>
											<span class="noti-time">1 phút trước</span>
										</div>
									</a> 
								</li>
							</ul>
						</div>
					</div>
				</li>
                <li>
					<button class="tooltip" data-tooltip="Profile" id="btn_profile"><i class="fas fa-user"></i></button>  
					<div class="nav-menu">
						<div class="d-flex user-section">
							<div id="user-avatar">
								<img class="rounded-circle user-avatar-lg" src="{% static 'img/unknow_user.jpeg' %}" alt="avatar">
							</div>
							<div id="user-info">
								<span class="row user-fullname">Đỗ Hoàng Quân</span>
								<span class="row" id="username">@nyagami</span>
							</div>
							<button>
								<i class="fa-solid fa-gear"></i>
							</button>
						</div>
						<div class="divider"></div>
						<div class="list-group">
							<ul class="nav-menu-list">
								<li class="nav-menu-item">
									<button>
										<i class="fa-solid fa-brush"></i>
										Tuỳ chọn Theme
									</button>
								</li>
								<li class="nav-menu-item">
									<button>
										<i class="fa-solid fa-right-from-bracket"></i>
										Đăng xuất
									</button>
								</li>
							</ul>
						</div>
					</div>
				</li>
            </ul>
        </nav>
    </header>
	<script>
		var links = document.querySelectorAll('header .nav-link');
		[].forEach.call(links, link => {
			if (link.classList.contains('dropdown-toggle')) {
				var items;
				if (link.nextElementSibling)
					items = link.nextElementSibling.children;
				else
					return;
				for (var i = 0; i < items.length; i++) {
					if (document.location.href.indexOf(items[i].href) > -1) {
						link.classList.add('s');
					}
				}
			} else {
				if (document.location.href.indexOf(link.href) > -1)
					link.classList.add('s')
			}
		});

		function autosize() {
			var el = this;
			setTimeout(function() {
				el.style.height = "";
				el.style.height = Math.min(el.scrollHeight, 500) + "px";
				el.nextElementSibling.style.top = Math.min(el.scrollHeight, 500) + "px";
			}, 0);
		}

	</script>
	{% endcache %} {% block body %} {% endblock %}
	<script>
		isiOSAux = (window.navigator.standalone == true);
		if (isiOSAux) {
			var aList = document.getElementsByTagName("a");
			for (var i = 0; i < aList.length; i++) {
				if (!aList[i].onclick
					&& aList[i].href.length > 0
					&& aList[i].href.indexOf(document.location.origin) > -1) {
					aList[i].onclick = function () {
						window.location = this.getAttribute("href");
						return false;
					}
				}
			}
		}
	</script>
	<script type="text/javascript">
		searchButton = $('#search_btn');
		icon = $('#id-search-icon');
		icon.click(() => {
			searchButton.addClass('active');
			icon.css('border-radius', '1.5rem 0 0 1.5rem');
		})
		input = $("#id-search-input");
		clear = $("#id-input-clear");
		clear.click(() => {
			if(input.val()){
				input.val('');
				console.log(input.val());
			}
			else{
				searchButton.removeClass('active');
				icon.css('border-radius', '1.5rem');
			}
		})

		$('button.tooltip').click((e) => {
			let target = $(e.currentTarget);
			target.next().show();
			hideOnClickOutside(target, target.next());
		})

		function hideOnClickOutside(toggle, selector) {
			const outsideClickListener = (event) => {
				const $target = $(event.target);
				if (!$target.closest(toggle).length && !selector.find($target).length && !$target.closest(selector).length && $(selector).is(':visible')) {
					$(selector).hide();
					removeClickListener();
				}
			}

			const removeClickListener = () => {
				document.removeEventListener('click', outsideClickListener);
			}

			document.addEventListener('click', outsideClickListener);
		}
		
		$('#read-all-noti').click(() => {
			$('.noti-time').removeClass('not-read');
		})
		// function getProfile(data){
		// 	$("#display-name").text(data['display_name']);
		// 	$("#username").text('@'+data["username"]);
		// 	let img = data['avatar'] || "{% static 'img/unknow_user.jpeg' %}";
		// 	let avatar = `<img src=${img} alt="avatar" class="user-avatar-md rounded-circle">`
		// 	$("#navbar-user-avatar").append(avatar);
		// }
		// fetch("/api/get_user_info").then(req => req.json()).then(data => {
		// 	if(data){
		// 		$("#is-authenticated").removeClass("d-none");
		// 		$("#is-not-authenticated").addClass("d-none");
		// 		getProfile(data);
		// 	}else{
		// 		$("#is-not-authenticated").removeClass("d-none");
		// 		$("#is-authenticated").addClass("d-none");
		// 	}
		// })
	</script>
</body>

</html>